<header></header>
<ion-content padding class="drap_content">
  <div class="modalPage_header">
    <div class="modalPage_logo"><img src="assets/imgs/reportes.svg"/></div>
    <div class="modalPage_title">
      <span class="spanBlock midFont"><b>Reportes</b></span>
      <span class="spanBlock midSubFont">Genera y exporta reportes de tus actividades.</span>
    </div>
    <div class="modalPage_btn_wrapper">
      <!--<button class="bgColorSecondary generalButton" (click)="openReporteAdeudos()">Adeudos</button>-->
     
    </div>
      <!--<button class="bgColorSecondary generalButton floatRight" *ngIf="true" (click)="openNuevoreporte();">Generar Nuevo</button>-->
  </div>
  <div class="Citas_grid result_wrapper">
    <table class="results_table">
        <thead>
            <tr>
                <!--<th>ID</th>-->
                <th>Fecha</th>
                <th></th>
             </tr>
        </thead>
        <tbody>
            <tr *ngIf="this.reportesData.todayReport">
                <!--<td>{{this.reportesData.todayReport.nid}}</td>-->
                <td class="fontSecondary">{{this.reportesData.todayReport.dateString}} del Día</td>
                <td class="toolCol">
                    <div class="flex-toolcol">
                    <!--<img (click)="openNuevoreporte(this.reportesData.todayReport);" src="assets/imgs/reporte.svg"  class="icon_drapo_big">-->
                    <img (click)="openNuevoreporte(this.reportesData.todayReport);" src="assets/imgs/reporte.svg"  class="icon_drapo_big">
                    <!--<img (click)="openTicket(this.reportesData.todayReport);" src="assets/imgs/ticket.svg"  class="icon_drapo_big">-->
                  <!--<button class="bgColorSecondary generalButton tableButton">Exportar</button>-->
                  </div>
                </td>
             </tr>
            <tr *ngFor="let report of this.reportesData.reportes">
                <!--<td>{{report.nid}}</td>-->
                <td class="fontSecondary">{{report.dateString}} <span *ngIf="this.reportesData.todayReport.dialy"></span></td>
                <td class="toolCol">
                  <div class="flex-toolcol">
                  <img (click)="openNuevoreporte(report);" src="assets/imgs/reporte.svg"  class="icon_drapo_big">
                  <!--<img (click)="openTicket(report);" src="assets/imgs/ticket.svg"  class="icon_drapo_big">-->
                  <!--<button class="bgColorSecondary generalButton tableButton">Exportar</button>-->
                  <button class="bgColorPrimary generalButton tableButton" (click)="elimiarReporte(report);">Eliminar</button>
                </div>
                </td>
             </tr>
        </tbody>
    </table>
  </div>
<footer></footer>
</ion-content>

