<ion-content padding>
    <div class="modal_closer" (click)="this.dismiss();">Volver</div>
    <div class="modalPage_header">
      <div class="modalPage_logo"><img src="assets/imgs/reportes.svg"/></div>
      <div class="modalPage_title">
        <span class="spanBlock largeFont"><b>Generar Reporte</b></span>
      </div>
  </div>
  <div class="nuevoreporte_content">
    <div class="CitaDetail_header">
      <table class="results_table">
          <thead>
              <tr>
                  <!--<th>no</th>-->
                  <th>Fecha</th>
               </tr>
          </thead>
          <tbody>
              <tr>
                  <!--<td>{{this.reportPresentator.actualReport.nid}}</td>-->
                  <td class="fontSecondary">{{this.reportPresentator.actualReport.dateString}} </td>
               </tr>
          </tbody>
      </table>
  </div>
  <div class="nuevoreportecontent modalContent">
    <div class="two_cols">
      <div class="two_cols_section">
        <div class="section_row"> 
            <div class="control-group">
                <label class="control control-radio">
                    <input type="radio" name="rtype" value="{{this.reportPresentator.REPORT_COMPLETE}}"  [(ngModel)]="this.reportPresentator.type" checked="true"/>
                    <div class="control_indicator"></div>
                    <img  src="assets/imgs/reporte.svg"  class="icon_drapo_big">
                    Completo
                </label> 
                </div>
        </div>
        <div class="section_row">Incluye toda la información desglosada de las citas del dia</div>
      </div>
      <div class="two_cols_section">
          <div class="section_row"> 
              <div class="control-group">
                  <label class="control control-radio">
                      <input type="radio" name="rtype" value="{{this.reportPresentator.REPORT_TICKET}}"  [(ngModel)]="this.reportPresentator.type" />
                      <div class="control_indicator"></div>
                      <img  src="assets/imgs/ticket.svg"  class="icon_drapo_big">
                      Resumen
                  </label> 
                  </div>
          </div>
          <div class="section_row">Incluye solo el total de citas, costos y adeudos generados del dia</div>
        </div>
        
    </div>
    <!--<div class="ModalInput_input">
      <b>Tipo de Archivo:</b>
    <select  class="input_select input">
        <option selected disabled value="0">SELECT</option>
      </select>
    </div>-->
    <!--<div class="ModalInput_input">
        <span class="spanBlock radio_input"><input type="checkbox" class="input" name="copia" value="1" checked><b>Enviar una copia a mi correo</b></span>
    </div>-->
    <div class="buttonWrapper">
        <div class="ModalInput_input" *ngIf="!this.permissions.checkUserPermission([this.userData.TIPO_DOCTOR]);" >
            <b>Doctor:</b>
            <select [(ngModel)]="this.reportPresentator.docuid"  name="field_cita_doctor" class="input_select input">
                <option *ngIf="!this.permissions.checkUserPermission([this.userData.TIPO_DOCTOR]);"  value="0" >General</option>
                <option *ngFor="let doc of this.docData.doctores"  value="{{doc.Uid}}" >{{doc.name}}</option>
                <option *ngIf="this.permissions.checkUserPermission([this.userData.TIPO_DOCTOR]);" selected disabled value="{{this.userData.userData.uid}}">{{this.userData.userData.name}}</option>
              </select>
          </div>
        
    <button (click)="openReportNoModal(this.reportPresentator.actualReport)" class="bgColorSecondary generalButton" >Generar</button>
    </div>
  </div>
  </div>
  </ion-content>