page-login {
    .loginContent{
        background: url(../assets/imgs/drap-bg.jpg);
        background-position: center;
        background-size: cover;
        display: flex;
        flex-flow: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    .flexalign{
        display:flex;
        flex-flow: column;
    }

    .login_form{
        width: 80%;
        text-align: center;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .login_form ion-list{
        width: 80%;
        margin:0;
    }


    .login_form .spanLink{
        text-align: right;
        width: 80%;
    }

    .loginInput{
        min-width: 300px;
        margin-top: 20px;
        padding: 10px;
        padding-right: 30px;
        padding-left: 30px;
        border-radius: 24px 24px 24px 24px;
        -moz-border-radius: 24px 24px 24px 24px;
        -webkit-border-radius: 24px 24px 24px 24px;
        border: 0px solid #000000;
    }

   .modal-wrapper{
        width: 20000px !important;
    }

    .modal-wrapper{
        width: 20000px !important;
    }

    
   
        @media screen and (min-width: 1000px) {
            .modal-wrapper{
                min-width: 1000px;
            }
        }

        @media screen and (max-width: 600px) {
            .login_form{
                widows: 100%;
            }

            .largeButton{
                width: 80%;
            }

            .login_form ion-list {
                width: auto;
            }

            
            .login_form .spanLink {
                text-align: right;
                width: auto;
            }

            .spanBlock{
                margin-top:5px;
                margin-bottom: 5px;
            }

            .generalButton{
                /*margin-top:15px;*/
            }
    
        }

}
