<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
  <div class="loginContent">
    <span class="spanBlock titleFont titleFontSpan"><img class="main_logo" src="assets/imgs/logo-rojo-blanco.svg"/></span>
<div class="login_chose" *ngIf="showLoginForm == false">
    <button class="generalButton largeButton bgColorPrimary" (click)="showLoginForm=true" >Ingresa</button>
    <button class="generalButton largeButton bgColorPrimary" (click)="openRegister()">Registro</button>
</div>
<div class="login_form" *ngIf="showLoginForm">
    <ion-list>
        <ion-item class="loginInput">
          <ion-input placeholder="Nombre de Usuario" [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item class="loginInput">
            <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
          </ion-item>
    </ion-list>   
    <button class="generalButton largeButton bgColorPrimary" (click)="actionLogin()" >Log In</button>  
    <span class="spanBlock spanLink midFont lightFont"  (click)="actionOpenRecover()" >¿Olvidaste tú contraseña?</span>
    <span class="spanBlock spanLink midFont lightFont"  (click)="openRegister()" >¿No tienes una cuenta?</span>
</div>
</div>
</ion-content>
