<!--
  Generated template for the FacturacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header></header>
<ion-content padding class="drap_content">
  <div class="modalPage_header">
    <div class="modalPage_logo"><img src="https://vagapp.mx/themes/nortec/img/logo-intro.svg"/></div>
    <div class="modalPage_title">
      <span class="spanBlock midFont"><b>Facturación</b></span>
      <span class="spanBlock midSubFont">Verifica los datos de tu suscripción.</span>
    </div>
  </div>
  <div class="fact_page_wrapper">
    <div *ngIf="!userData.checkUserSuscription([userData.PLAN_ANY])" class="access_code_opt"><span (click)="showInvitation();" class="access_code_opt_link">Tengo un codigo de invitación</span></div>
    <div *ngIf="!userData.checkUserSuscription([userData.PLAN_ANY]) && invitationshow" class="acesss_code_show"><ion-item class="acesss_code_show_input">
        <ion-input placeholder="Codigo de invitacion" [(ngModel)]="invitationCode"></ion-input>
      </ion-item>
      <button class="generalButton largeButton bgColorPrimary" (click)="invitationSub()" >Enviar</button>  
    </div>
  <div class="fact_subs_info fac_tsection">
    <div class="fact_myplan" *ngIf="userData.checkUserSuscription([userData.PLAN_ANY])">
      <span class="myplan_block">Plan activo: {{userData.subscription.plan.title}}</span>
      <span *ngIf="this.userData.checkUserPlanHolder()">
      <span class="myplan_block">Codigo de invitacion: {{userData.subscription.field_invitation_code}}</span>
      <span class="myplan_explain">Entregale este codigo a los doctores con los que quieras compartir esta suscripcion a <span class="colorPrimary">DRAP</span></span>
      <span class="myplan_block">Doctores Afiliados:</span>
      <span *ngFor="let dctr of userData.subscription.field_doctores_info" class="myplan_doctor">{{dctr.name}} <span class="delete_doctor" *ngIf="this.userData.userData.uid !== dctr.uid" (click)="popRemoveDoctorSus(dctr.uid);">remover</span></span>
      <span class="myplan_block">Subcuentas activas:{{userData.subscription.noSubcuentas}}</span>
      </span>
      <span *ngIf="!this.userData.checkUserPlanHolder()">
          <span class="myplan_block">Usted esta afiliado a una subscripcion administrada por otro usuario</span>
      </span>
    </div>
    <div class="fact_myplan noplan" *ngIf="!userData.checkUserSuscription([userData.PLAN_ANY])">
        <span class="fact_label">Usted no cuenta con un plan activo, seleccione un plan.</span>
        <div *ngFor="let factplan of this.userData.planes" [class.selectedplan]="factplan.css_fact_selected" class="fact_pna_item" (click)="selectPlan(factplan);">
          {{factplan.title}} 
        </div>
    </div>
  </div>
<div class="fact_page_content fact_section">
  <div class="fact_payment_methods" *ngIf="!userData.checkUserSuscription([userData.PLAN_ANY])">
    <span class="fact_label">seleccione un metodo de pago:</span>
    <div *ngFor="let src of this.sources" (click)="selectCard(src)"   [class.selectedsrc]="src.selected" class="fact_src_unit">
      {{src.brand}} **** **** **** {{src.last4}}
    </div>
  <span class="fact_label">agregar un metodo de pago:</span>
  <div class="forwrapper">
  <form action="/" method="post" id="payment-form">
    
    <div class="form-row">
      <div id="card-element">
        <!-- a Stripe Element will be inserted here. -->
      </div>

      <!-- Used to display Element errors -->
      <div id="card-errors" role="alert"></div>
    </div>

  <button ion-button block large>Agregar Tarjeta</button>
  </form>
  </div>
  </div>
</div>
</div>
<div class="checkout">
  <div class="details"></div>
  <div class="button_section">
      <button (click)="suscribirse()" [disabled]="this.selectCard === null || this.selectPlan === null" *ngIf="userData.subscription === null || userData.subscription.plan === null" ion-button block large>Suscribirse</button>
  </div>
</div>
</ion-content>
