page-facturacion {
    .form-row{
        padding: 10px;
      }
    
      .StripeElement {
        background-color: white;
        padding: 8px 12px;
        border-radius: 4px;
        border: 1px solid transparent;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
      }
    
      .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
      }
    
      .StripeElement--invalid {
        border-color: #fa755a;
      }
    
      .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
      }

      .fact_myplan .myplan_block{
        width: 100%;
        height: 50px;
        font-size: 2.5rem;
        padding-left: 30px;
        display: flex;
        align-items: center;
        font-weight: bold;
      }

      .fact_page_wrapper{
        display: flex;
        width: 100%;
        flex-flow: row;
        flex-wrap: wrap;
      }

      .fact_section{
        display: flex;
        justify-content:center;
        width: 49%;
        min-width: 300px;
      }

      .fact_payment_methods, .fact_myplan {
        width: 100%;
        padding: 40px;
    }

    .fact_src_unit, .fact_pna_item{
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 1.5rem;
      background-color: lightgray;
      padding-left: 30px;
      cursor: pointer;
  }
  
  .selectedsrc, .selectedplan{
      background-color:  #94BA3A;
  }

  .forwrapper{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .forwrapper form{
    width: 60%;
    min-width: 300px
  }

  .checkout{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap; 
  }

  .checkout div{
    display: inline-block;
    min-width: 300px;
    width: 75%;
  }

  .checkout .button_section{
    width: 20%
  }

}
