<!--
  Generated template for the UsuariosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header></header>
<ion-content padding class="wheader drap_content">
  <div class="modalPage_header">
    <div class="modalPage_logo"><img src="assets/imgs/usuarios.svg"/></div>
    <div class="modalPage_title">
      <span class="spanBlock midFont"><b>Alta de Usuarios</b></span>
      <span class="spanBlock midSubFont">Da de alta al personal que te ayuda a administrar y cobrar tus citas.</span>
      <span class="spanBlock midSubFont">TUAL te permite elegir entre dos opciones de usuarios:</span>
      <span class="user_explanation_triple">
         <span class="user_explanation_section"> Recepción,</span>
         <span class="user_explanation_section"> caja y </span>
         <span class="user_explanation_section"> caja & recepción</span>
        </span>
    </div>
    <div class="modalPage_btn_wrapper">
      <button class="bgColorSecondary generalButton" (click)="openNuevousuario()">Agregar nuevo</button>
      <span class="">Usuarios restantes: {{this.subUsersLeft }}.</span>
    </div>
  </div>
  <div class="Citas_grid result_wrapper">
      <div class="subusers_subscription_div midFont">
        <p class="leyenda">Esta es la lista de usuarios que actualmente están dados de alta. <span *ngIf="!this.subsData.isGroup">Recuerda que para compartir estos usuarios con otro doctor o agregar un usuario nuevo necesitas incluir el código que se muestra en la tabla. Compártelo con tus colegas para aprovechar TUAL al máximo.</span> 
        </p>
      </div>
    <table class="results_table">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Tipo de usuario</th>
                <th *ngIf="!this.subsData.isGroup">Código</th>
                <th></th>
             </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of this.subuserData.subUsers">
                <td>{{user.name}}</td>
                <td class="fontHigh">{{this.userData.getTipoUsuarioString(user.field_tipo_de_usuario.und[0])}}</td>
                <td class="fontHight" *ngIf="!this.subsData.isGroup"><input type="text" value="{{user.field_codigo}}" class="field left codigo" readonly></td>
                <td class="toolCol">
                  <img     *ngIf="this.permissions.checkUserPlanHolder()"  src="assets/imgs/editar.svg" class="icon_drapo" (click)="editUsuario(user)">
                  <button  *ngIf="this.permissions.checkUserPlanHolder()"  (click)="removeUsuariopop(user)" class="bgColorPrimary generalButton tableButton">Remover</button>
                  <!--<button  *ngIf="user.field_doctores.und.indexOf(this.userData.userData.uid) === -1"  (click)="agregarusuariopop(user)" class="bgColorPrimary generalButton tableButton">Agregar</button>-->
                </td>
             </tr>
        </tbody>
    </table>
  </div>


</ion-content>