<header></header>
<ion-content id="reporte_identifier">
  <div class="modal_closer"  (click)="this.dismiss();">Volver</div>
<div class="reporte_header">
<div class="modalPage_header">
<div class="modalPage_logo"><img src="assets/imgs/reportes.svg"/></div>
<div class="modalPage_title">
  <span class="spanBlock midFont" *ngIf="!this.reportPresentator.isAdeudo"><b>Resumen Diario</b></span>
  <span class="spanBlock midSubFont" *ngIf="!this.reportPresentator.isAdeudo">Resumen de tu actividad  durante el día de hoy</span>
  <span class="spanBlock midFont" *ngIf="this.reportPresentator.isAdeudo"><b>Resumen Adeudos</b></span>
  <span class="spanBlock midSubFont" *ngIf="this.reportPresentator.isAdeudo">Resumen todos los adeudos.</span>
</div>
</div>
<div class="modalPage_toolbar">
    <div class="info_tool" *ngIf="!userData.checkUserPermission([userData.TIPO_DOCTOR]) && this.reportPresentator.docLoaded">
        <span class="spanBlock midFont"><b>Doctor</b></span>
        <span class="spanBlock fontHigh midFont">{{this.reportPresentator.docName}} / {{this.reportPresentator.docAlias}}</span>
      </div>
        <div class="info_tool">
            <span class="spanBlock midFont"><b>Fecha</b></span>
            <span class="spanBlock fontSecondary midFont">{{this.reportPresentator.actualReport.dateString}}</span>
          </div>
  <button *ngIf="!this.reportPresentator.isAdeudo" class="bgColorSecondary generalButton export-big" (click)="exportars()" >Exportar</button>
</div>
</div>

<div class="ReportGrid reporte-desk">
<div class="ReporteRow" *ngFor="let cita of this.reportPresentator.actualReport.citas">
  <div class="ReporteRow_head">
      <span class="rbh_span midFont" *ngIf="cita.opendetail" (click)="setOpendetail(cita,false);"> <img src="assets/imgs/chevron-verde.svg"  class="icon_drapo_sm"> </span>
      <span class="rbh_span midFont" *ngIf="!cita.opendetail" (click)="setOpendetail(cita,true);"> <img src="assets/imgs/chrevron-rojo.svg"  class="icon_drapo_sm"> </span>
      <span class="rbh_span midFont"> <span class="bold">Paciente</span><span class="">{{ cita.paciente }}</span> </span>
      <span class="rbh_span midFont" *ngIf="!userData.checkUserPermission([userData.TIPO_DOCTOR])"> <span class="bold">Doctor</span><span class="">{{ cita.doctor_name }}</span> </span>
      <span class="rbh_span midFont"> <span class="bold">Cobro</span><span class="">{{cita.caja_name}} </span> </span>
      <span class="rbh_span midFont"> <span class="bold">Duración</span><span class="fontHigh">{{ cita.duracionText }}</span> </span>
      <span class="rbh_span midFont" *ngIf="!cita.originactivereport"> <span class="fontPrimary">Adeudo anterior</span> </span>
      <span class="rbh_span midFont estado-cita-reporte"> <span class="fontHigh"  [ngStyle]="{'color':cita.fstateColor}">{{ cita.fstateLabel }}</span> </span>
  </div>
  <div class="ReporteRow_TotalServicios">
      <span class="rrt_span midFont"> <span class="bold">Total de Servicios</span><span class="midFont fontSecondary">${{cita.costo}}</span></span>
      <span class="rrt_span midFont"> <span class="bold">Efectivo</span><span class="midFont fontSecondary">${{cita.pagosEfectivo}}</span> </span>
      <span class="rrt_span midFont"> <span class="bold">Tarjeta</span><span class="midFont fontSecondary">${{cita.pagosTarjeta}}</span> </span>
      <span class="rrt_span midFont"> <span class="bold">Cheque</span><span class="midFont fontSecondary">${{cita.pagosCheque}}</span> </span>
      <span class="rrt_span midFont"> <span class="bold">Facturado</span><span class="midFont  fontHigh">${{cita.pagosFacturado}}</span> </span>
      <span class="rrt_span midFont" *ngIf="cita.costo > cita.cobro"> <span class="bold">Adeudo</span><span class="fontPrimary">${{cita.restantePagos}}</span> </span>
      <span class="rrt_span midFont" *ngIf="!userData.checkUserPermission([userData.TIPO_RECEPCION]) && cita.pagosTotalOut>0"> <span class="bold">Cobros por otros</span><span class="fontPrimary">${{cita.pagosTotalOut}}</span> </span>
  </div>
  <div class="ReporteRow_Desglose" *ngIf="cita.opendetail">
      <div class="reportRow_desglose_label">Servicios</div>
    <div class="ReporteRow_Servicio row_detail midFont" *ngFor="let servicio of cita.reporteServicios">
     <span class="servicio-item">
       {{servicio.title}}: <span class="midFont fontSecondary">${{servicio.costo}}</span>
      </span> 
    </div>
    <div class="reportRow_desglose_label">Ediciones</div>
    <div class="reportRow_edicion row_detail midFont" *ngFor="let edicion of cita.edicionesFechas">
      <span class="servicio-item" *ngIf="edicion.cos > 0">
        {{edicion.title}} <span  class="midFont fontSecondary">${{edicion.cos}}</span> <span  class="midFont fontSecondary">{{edicion.dst}}</span>
       </span> 
       <span class="servicio-item" *ngIf="edicion.state">
        {{edicion.title}} <span  class="midFont fontSecondary">{{edicion.dst}}</span>
       </span> 
     </div>
  </div>
</div>
</div>
<div class="ReportGrid reporte-movil">
    <div class="ReporteRow" *ngFor="let cita of this.reportPresentator.actualReport.citas">
      <div class="ReporteRow_head">
        <div class="chevrons">
          <span class="rbh_span midFont" *ngIf="cita.opendetail" (click)="setOpendetail(cita,false);"> <img src="assets/imgs/chevron-verde.svg"  class="icon_drapo_sm"> </span>
          <span class="rbh_span midFont" *ngIf="!cita.opendetail" (click)="setOpendetail(cita,true);"> <img src="assets/imgs/chrevron-rojo.svg"  class="icon_drapo_sm"> </span>
        </div>
        <div class="nombres-reporte">
          <span class="rbh_span midFont"> <span class="bold">Paciente</span><span class="">{{ cita.paciente }}</span> </span>
          <span class="rbh_span midFont" *ngIf="!userData.checkUserPermission([userData.TIPO_DOCTOR])"> <span class="bold">Doctor</span><span class="">{{ cita.doctor_name }}</span> </span>
        </div>
        <div class="totalycitas">
          <span class="rrt_span midFont"> <span class="bold">Total de Servicios</span><span class="midFont fontSecondary">${{cita.costo}}</span></span>
          <span class="rbh_span midFont estado-cita-reporte"> <span class="fontHigh"  [ngStyle]="{'color':cita.fstateColor}">{{ cita.fstateLabel }}</span> </span>
        </div>
      </div>
      
      <div class="ReporteRow_Desglose" *ngIf="cita.opendetail">
          <div class="reportRow_desglose_label_sm">Servicios</div>
          <div class="ReporteRow_Desglose_row midFont" *ngFor="let servicio of cita.reporteServicios">
              
              <span class="servicio-item">
                {{servicio.title}}: <span class="midFont fontSecondary">${{servicio.costo}}</span>
               </span> 
             </div>
             <div class="reportRow_desglose_label_sm">Ediciones</div>
    <div class="ReporteRow_Desglose_row midFont" *ngFor="let edicion of cita.edicionesFechas">
      <span class="servicio-item" *ngIf="edicion.cos > 0">
        {{edicion.title}} <span  class="midFont fontSecondary">${{edicion.cos}}</span>
       </span> 
       <span class="servicio-item" *ngIf="edicion.state">
        {{edicion.title}}
       </span> 
     </div>
          <div class="ReporteRow_Desglose_row midFont" >
              <span class="rbh_span midFont"> <span class="bold">Cobro</span><span class="">{{cita.caja_name}} </span> </span>
              <span class="rbh_span midFont"> <span class="bold">Duracion</span><span class="fontHigh">{{ cita.duracionText }}</span> </span>
              <div class="ReporteRow_TotalServicios">
                  <span class="rrt_span midFont"> <span class="bold">Efectivo</span><span class="midFont fontSecondary">${{cita.pagosEfectivo}}</span> </span>
                  <span class="rrt_span midFont"> <span class="bold">Tarjeta</span><span class="midFont fontSecondary">${{cita.pagosCheque}}</span> </span>
                  <span class="rrt_span midFont"> <span class="bold">Cheque</span><span class="midFont fontSecondary">${{cita.pagosTarjeta}}</span> </span>
                  <span class="rrt_span midFont"> <span class="bold">Facturado</span><span class="midFont  fontHigh">${{cita.pagosFacturado}}</span> </span>
                  <span class="rbh_span midFont" *ngIf="!cita.originactivereport"> <span class="fontPrimary">Adeudo anterior</span> </span>
                  <span class="rrt_span midFont" *ngIf="cita.costo > cita.cobro"> <span class="bold">Adeudo</span><span class="fontPrimary">${{cita.restantePagos}}</span> </span>
                  <span class="rrt_span midFont" *ngIf="!userData.checkUserPermission([userData.TIPO_RECEPCION]) && cita.pagosTotalOut>0"> <span class="bold">Cobros externos</span><span class="fontPrimary">${{cita.pagosTotalOut}}</span> </span>
                </div>
          </div>
       
      </div>
    </div>
    </div>

    <div class="ReportesTotales totalesAdeudo" *ngIf="reportPresentator.isAdeudo">
        <span class="totalespan midFont"><b>Total de Adeudos:</b> <span class="fontPrimary">{{reportPresentator.cajaAdeudo}}</span></span>
      <div class="resumen_totales">
        </div>
    </div>

<div class="ReportesTotales" *ngIf="!smallMode && !reportPresentator.isAdeudo">
  <div class="servicios_totales">
      <span class="bold">No. de Servicios</span>
      <div class="ticket_row midMainFont" *ngFor="let servres of reportPresentator.serviciosResume">{{servres.title}}<span class="midFont fontSecondary">{{servres.times}}</span></div>
    </div>
<div class="resumen_totales">
  <span class="totalespan midFont"><b>Citas Totales:</b> <span class="fontSecondary">{{reportPresentator.noCitas}}</span></span>
  <span class="totalespan midFont"><b>Citas Canceladas:</b> <span class="fontPrimary">{{reportPresentator.noCancel}}</span></span>
  <!--<span class="totalespan midFont"><b>No Show:</b> <span class="fontPrimary">{{reportPresentator.noShow}}</span></span>-->
  <span class="totalespan midFont"><b>Duración Total:</b> <span class="fontHigh">{{reportPresentator.duracionTotalStr}}</span></span>
  <span class="totalespan midFont"><b>Adeudos cobrados:</b> <span class="fontHigh">{{reportPresentator.noAdeudosR}}</span></span>
  <span class="totalespan midFont" *ngIf="!userData.checkUserPermission([userData.TIPO_RECEPCION]) && reportPresentator.totalOut>0"><b>Cobrado por otros usuarios:</b> <span class="fontPrimary">${{reportPresentator.totalOut}}</span></span>
</div>



<!--div class="Totales_Ingreso">
    
</div-->

<div class="Totales_Caja">
    <span class="toin_span midFont"><b>Total de Servicios<span class="fontPrimary">${{reportPresentator.costoTotal}}</span></b></span>
    <span class="toin_span midFont"><b>Importe Total<span class="fontSecondary">${{reportPresentator.total}}</span></b></span>
    <span class="toin_span midSubFont">Efectivo:<span class="fontSecondary">${{reportPresentator.totalefectivo}}</span></span>
    <span class="toin_span midSubFont">Tarjeta:<span class="fontSecondary">${{reportPresentator.totalTarjeta}}</span></span>
    <span class="toin_span midSubFont">Cheques:<span class="fontSecondary">${{reportPresentator.totalCheques}}</span></span>
    <span class="toin_span midSubFont">Facturado:<span class="fontSecondary">${{reportPresentator.facturadoTotal}}</span></span>
    <span class="toin_span midSubFont">Adeudos Cobrados:<span class="fontSecondary">${{reportPresentator.totalAdeudo}}</span></span>
    <!--<span class="toin_span midSubFont">Cuentas por cobrar:<span class="fontPrimary">${{this.reportPresentator.cajacuentas}}</span></span>-->
    <span class="toin_span midSubFont">Pendiente:<span class="fontPrimary">${{this.reportPresentator.pendiente}}</span></span>  
</div>
</div>


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col>
          <button ion-button (click)="verTotales()" full> Ver Totales </button>
      </ion-col>
      <ion-col>
          <button class="bgColorSecondary" ion-button (click)="exportars()"  full> Exportar </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>