<header></header>
<ion-content padding>
<div class="base_form">
  <div class="text_centered">
    <div class="enter_title">Activación de grupo médico</div>
    <div class="enter_description">
     Drap se preocupa por hacer tu vida más fácil por eso nuestra función de grupos médicos te brinda funciones para compartir tus servicios y usuarios grupales con otros doctores, Si un doctor de tu grupo te ha compartido un código, ingrésalo aquí
    </div>
    <div class="enter_field"></div>
    <div class="enter_field"></div>
  </div>
  <div class="enter_subuser_selection">
    <div class="enter_title"> Selección de Usuarios </div>
    <div class="enter_description"> Este plan te permite compartir usuarios entre los doctores del grupo si hay plazas disponibles puedes llevar contigo a tus usuarios actuales, seleccionandolos en la
      lista a continuación, si no hay plazas activas habla con el administrador del grupo para activarlas. </div>
      <div> <span class="enter_plazas_text">Plazas disponibles</span> <span class="enter_plazas_value">00</span></div>
      <table class="results_table">
          <thead>
              <tr>
                  <th>Servicio</th>
                  <th>Costo</th>
                  <th>  </th>
               </tr>
          </thead>
          <tbody *ngIf="this.showMis">
              <tr *ngFor="let servicio of this.servicioMan.servicios">
                  <td>{{servicio.title}}</td>
                  <td class="fontSecondary">${{servicio.costo}}</td>
                  <td class="toolCol">
                    <img src="assets/imgs/editar.svg" class="icon_drapo" (click)="editServicio(servicio)"/>
                    <button class="bgColorPrimary generalButton tableButton" (click)="deleteServicio(servicio)">Eliminar</button>
                  </td>
               </tr>
          </tbody>
        </table>
  </div>
</div>
</ion-content>
