<header></header>
<ion-content padding>
<div class="base_form">
  <div class="text_centered">
    <div class="enter_title fontPrimary">Activación de grupo médico</div>
    <div class="enter_description">
     Drap se preocupa por hacer tu vida más fácil por eso nuestra función de grupos médicos te brinda funciones para compartir tus servicios y usuarios grupales con otros doctores, Si un doctor de tu grupo te ha compartido un código, ingrésalo aquí
    </div>
    
    <div class="enter_field">
      <ion-list>
        <ion-item class="loginInput">
          <ion-input [(ngModel)]="groupCode" placeholder="Codigo de Grupo Medico"></ion-input>
        </ion-item>
    </ion-list>

    </div>
    <div class="groupName_shower fontPrimary" *ngIf="groupLoaded">
        {{groupName}}
    </div>
  </div>
  <div class="enter_subuser_selection"  *ngIf="groupLoaded">
    <div class="enter_title fontPrimary"> Selección de Usuarios </div>
    <div class="enter_description"> Este plan te permite compartir usuarios entre los doctores del grupo si hay plazas disponibles puedes llevar contigo a tus usuarios actuales, seleccionandolos en la
      lista a continuación, si no hay plazas activas habla con el administrador del grupo para activarlas. </div>
      <div> <span class="enter_plazas_text">Plazas disponibles</span> <span class="enter_plazas_value fontPrimary">{{this.accountsleft}}</span></div>
      <table class="results_table">
          <thead>
              <tr>
                  <th>Agregar</th>
                  <th>Usuario</th>
                  <th>Tipo de Usuario</th>
               </tr>
          </thead>
          <tbody >
              <tr *ngFor="let usersub of this.subuserData.subUsers">
                  <td>
                      <ion-checkbox [checked]="usersub.selectedForGroup" (ionChange)="onChangeUsers($event,usersub)"></ion-checkbox>
                      <!--<input type="checkbox" [checked]="usersub.selectedForGroup" (change)="onChangeUsers(this,usersub)"/>-->
                    <!--
                    <div class="control-group"> 
                      <label class="control control-radio">
                        
                        
                          <div class="control_indicator"></div>
                      </label> 
                      </div>  -->
                  </td>
                  <td class="midSubFont ">{{usersub.name}} </td>
                  <td class="midSubFont fontHigh">{{this.userData.getTipoUsuarioString(usersub.field_tipo_de_usuario.und[0])}} </td>
               </tr>
          </tbody>
        </table>
  </div>
  <div class="enter_toolbar">
    <span class="fontPrimary left enter_comprar">¿Quieres comprar un plan médico?</span>
    <div class="button_section">
    <button class="generalButton bgColorSecondary right" (click)="buscar()" *ngIf="!this.groupLoaded" >Buscar</button>
    <button class="generalButton bgColorSecondary right" (click)="guardar()" *ngIf="this.groupLoaded && this.canSave" >Guardar</button>
    <button class="generalButton bgColorPrimary right" (click)="cancelar()" >Cancelar</button>
    </div>
  </div>
</div>
</ion-content>
