page-notification-pop {
    .pop_page{
        min-height: 100px;
        min-width: 100px;
        position: relative;
        font-size: 1.3rem;
        color: #777;
        line-height: 1.5;
    }

}
