page-home {

    .homegrid{
        border: 1px solid #E7E7E7;
        margin-bottom: 0;
    }

    .homegrid .section{
        height: 195px;
    }
    
  .filters_wrapper div{
      margin: 0 50px;
  }

    .datetime-md{
       font-weight: 200;
       font-size: 2rem;
       align-items: center;
    }
    
    .datetime-text{
        overflow: initial;
    }


    @media screen and (min-width: 1000px) {
        .modal-wrapper{
            min-width: 1000px;
        }
    }
}
