
<header></header>
<ion-content class="contentdown">
  <div class="section_grid">
        <div class="section">
                <span class="spanBlock bigFont"><span class="fontPrimary"><b>Bienvenido</b></span> <span class="">{{this.userData.userData.name}} </span><span class="rol_title" *ngIf="this.userData.checkUserFeature([this.userData.TIPO_CAJA,this.userData.TIPO_RECEPCION,this.userData.TIPO_CAJAYRECEPCION],[this.userData.PLAN_ANY],false);" >( {{this.userData.getTipoUsuarioString(this.userData.userData.field_tipo_de_usuario['und'][0]['value'])}} )</span></span>
                <span class="spanBlock bigSubFont">¿En qué podemos ayudarte hoy?</span>
        </div>
        <div class="section"  *ngIf="this.userData.checkUserFeature([this.userData.TIPO_ANY],[this.userData.PLAN_ANY],false);">
                        <div class="section_content">
                              <span class="spanBlock bigSubFont">Citas Programadas para Hoy: <span class="fontPrimary">{{0}}</span></span>
                        </div>
                       <div class="section_button">
                        <button class="generalButton bgColorSecondary" (click)="openReportModal(this.userData.todayReport)">Resumen</button>
                        </div>
        </div>

                <!-- Agregar nueva cita para recepciones -->
        <div class="section" *ngIf="this.userData.docs_loaded && this.userData.checkUserFeature([this.userData.TIPO_RECEPCION,this.userData.TIPO_CAJAYRECEPCION],[this.userData.PLAN_ANY],false);" >
                        <button class="bgColorSecondary generalButton floatRight" (click)="openNuevaCita()">Agregar Nueva Cita</button>
                        </div>

                <!--
                <div class="section" *ngIf="userData.showReception">
                                <div class="section_dates">
                                      <span class="spanBlock midFont">Nombre del Doctor</span>
                                      <span class="spanBlock midFont"><b>Nombre del Paciente</b></span>
                                      <span class="spanBlock midFont description">Descripción</span>
                                </div>
                                <div class="section_button">
                                <button class="generalButton bgColorSecondary" (click)="openReportModal()">Notificar</button>
                                <button class="generalButton bgColorPrimary" (click)="openReportModal()">Cancelar</button>
                                </div>
                </div>-->

                <div class="section" *ngIf="userData.showReception">
                        <div class="section_dates">
                                <span class="spanBlock midFont">Nombre del Doctor</span>
                                <span class="spanBlock midFont"><b>Nombre del Paciente</b></span>
                                <span class="spanBlock midFont description">Descripción</span>
                        </div>
                        <div class="section_button">
                                <button class="generalButton bgColorHigh" (click)="openProgreso()">Cobrar</button>
                        </div>
                </div>

  <div class="section" *ngIf="this.userData.checkUserFeature([this.userData.TIPO_DOCTOR],[this.userData.PLAN_ANY],false);">
      <div class="section_content">
    <div class="section_icon">
            <img src="assets/imgs/servicios.svg"/>
    </div>
    <div class="section_text midFont">
      <span class="spanBlock midMainFont">Alta de Servicios y Costos</span>
      <span class="spanBlock midSubFont">Administra, agrega o elimina servicios para tus consultas. </span>
    </div>
    </div>
    <div class="section_button">
    <button class="generalButton bgColorPrimary" (click)="openServicios()">Ir</button>
    </div>
  </div>


  <div class="section"  *ngIf="this.userData.checkUserFeature([this.userData.TIPO_DOCTOR],[this.userData.PLAN_ANY],false);">
        <div class="section_content">
      <div class="section_icon">
              <img src="assets/imgs/usuarios.svg"/>
      </div>
      <div class="section_text midFont">
        <span class="spanBlock midMainFont">Alta de Usuarios</span>
        <span class="spanBlock midSubFont">Da de alta a los usuarios que utilizarán esta aplicación. </span>
      </div>
      </div>
      <div class="section_button">
      <button class="generalButton bgColorPrimary" (click)="openUsuarios()">Ir</button>
      </div>
    </div>

    

    <div class="section" *ngIf="userData.checkUserFeature([userData.TIPO_ANY],[userData.PLAN_ANY])">
            <div class="section_content">
          <div class="section_icon">
                  <img src="assets/imgs/citas.svg"/>
          </div>
          <div class="section_text midFont">
            <span class="spanBlock midMainFont">Citas Programadas</span>
            <span class="spanBlock midSubFont">Revisa y administra tus citas programadas. </span>
            
          </div>
          </div>
          <div class="section_button">
          <button class="generalButton bgColorPrimary" (click)="openCitas()">Ir</button>
          </div>
        </div>

        


        <div class="section" *ngIf="userData.checkUserFeature([userData.TIPO_ANY],[userData.PLAN_ANY])">
                <div class="section_content">
              <div class="section_icon">
                      <img src="assets/imgs/reportes.svg"/>
              </div>
              <div class="section_text midFont">
                <span class="spanBlock midMainFont">Reportes</span>
                <span class="spanBlock midSubFont">Genera y exporta el reporte de tus actividades. </span>
              </div>
              </div>
              <div class="section_button">
              <button class="generalButton bgColorPrimary" (click)="openReportes()">Ir</button>
              </div>
            </div>

            

            <div class="section"  *ngIf="userData.checkUserFeature([userData.TIPO_DOCTOR],null)" >
                    <div class="section_content">
                  <div class="section_icon">
                          <img src="assets/imgs/datos.svg"/>
                  </div>
                  <div class="section_text midFont">
                    <span class="spanBlock midMainFont">Mis Datos</span>
                    <span class="spanBlock midSubFont">Configura tus datos personales y métodos
                            de pago. </span>
                    
                  </div>
                  </div>
                  <div class="section_button">
                  <button class="generalButton bgColorPrimary" (click)="openRegister()">Ir</button>
                  </div>
                </div>

                <div class="section" *ngIf="userData.checkUserPlanHolder() && userData.checkUserFeature([userData.TIPO_ANY],[userData.PLAN_ANY])" >
                        <div class="section_content">
                      <div class="section_icon">
                              <img src="assets/imgs/datos.svg"/>
                      </div>
                      <div class="section_text midFont">
                        <span class="spanBlock midMainFont">Facturación</span>
                        <span class="spanBlock midSubFont">Configura tus datos personales y métodos de pago.</span>
                      </div>
                      </div>
                      <div class="section_button">
                      <button class="generalButton bgColorPrimary">Ir</button>
                      </div>
                    </div>
    </div>
</ion-content>


