
<header></header>
<ion-content class="contentdown">
  <div class="section_grid homegrid">
        <div class="section">
                <span class="spanBlock bigFont"><span class="fontPrimary"><b>Bienvenido</b></span> <span class="spanBlock">{{this.userData.userData.name}} </span><!--<span class="rol_title" *ngIf="this.userData.checkUserFeature([this.userData.TIPO_CAJA,this.userData.TIPO_RECEPCION,this.userData.TIPO_CAJAYRECEPCION],[this.userData.PLAN_ANY],false);" >( {{this.userData.getTipoUsuarioString(this.userData.userData.field_tipo_de_usuario['und'][0]['value'])}} )</span>--></span>
                <span class="spanBlock bigSubFont">¿En qué podemos ayudarte hoy?</span>
        </div>
        <div class="section"  *ngIf="this.permissions.checkUserFeature([this.userData.TIPO_ANY],[this.userData.PLAN_ANY],false);">
                        <div class="section_content">
                             <!--<span class="spanBlock bigSubFont">Citas Programadas para Hoy: <span class="fontPrimary">{{0}}</span></span>-->
                        </div>
                       <div class="section_button_home section_button_vertical">
                        <span class="home_halfbtn" *ngIf="this.permissions.checkUserFeature([this.userData.TIPO_DOCTOR, this.userData.TIPO_RECEPCION,this.userData.TIPO_CAJAYRECEPCION],[this.userData.PLAN_ANY],false);" (click)="openNuevaCita()"> <img src="assets/imgs/nueva-cita.svg"  class="icon_drapo"><span>Nueva Cita</span></span>
                        <span class="home_halfbtn" (click)="openReportModal(this.reportesData.todayReport)">  <img src="assets/imgs/ver-resumen.svg"  class="icon_drapo"><span>Resumen</span></span>
                        <!--<button class="generalButton bgColorSecondary" (click)="openReportModal(this.reportesData.todayReport)">Resumen</button>-->
                        <!--<button  *ngIf="this.permissions.checkUserFeature([this.userData.TIPO_DOCTOR, this.userData.TIPO_RECEPCION,this.userData.TIPO_CAJAYRECEPCION],[this.userData.PLAN_ANY],false);"  class="bgColorSecondary generalButton" (click)="openNuevaCita()">Nueva Cita</button>-->
                        </div>
        </div>

                <!-- Agregar nueva cita para recepciones -->
        <!--<div class="section" *ngIf="this.permissions.checkUserFeature([this.userData.TIPO_DOCTOR, this.userData.TIPO_RECEPCION,this.userData.TIPO_CAJAYRECEPCION],[this.userData.PLAN_ANY],false);" >
                <div class="section_button">       
                <button class="bgColorSecondary generalButton" (click)="openNuevaCita()">Agregar Nueva Cita</button>
        </div> 
                        </div>-->



                        
                        </div>
     <!--
                        <div class="section" *ngIf="permissions.checkUserFeature([userData.TIPO_ANY],[userData.PLAN_ANY])">
                                <div class="section_content">
                              <div class="section_icon">
                                      <img src="assets/imgs/citas.svg"/>
                              </div>
                              <div class="section_text midFont">
                                <span class="spanBlock midMainFont">Citas Programadas</span>
                                <span class="spanBlock midSubFont">Revisa y administra tus citas programadas. </span>
                                
                              </div>
                              </div>
                              <div class="section_button">
                              <button class="generalButton bgColorPrimary" (click)="openCitas()">Ir</button>
                              </div>
                            </div>
                            </div>-->
                            <div class="filters_wrapper">
                                        <div class="filtro-nombre"><span class="midFont"> <img src="assets/imgs/buscar.svg"  class="icon_drapo"> </span><input [(ngModel)]="citasPresentator.pacienteFilter" (ngModelChange)="citasPresentator.filterChange();"  type="text" placeholder="Nombre del Paciente"> </div>
                                         <div  class="filtro-fecha">
                                           <span class="midFont"> <img src="assets/imgs/fecha.svg"  class="icon_drapo"></span> 
                                         <ion-datetime  placeholder="Filtrar por Fecha" [(ngModel)]="citasPresentator.dateFilterStart" (ngModelChange)="citasPresentator.filterChange();" ></ion-datetime>
                                         <span class="midFont remover"  *ngIf="citasPresentator.filteredCitas" (click)="citasPresentator.removeFilter();" > <img src="assets/imgs/x.svg"  class="icon_drapo_sm"></span>
                                        </div>
                              </div>
                                      <div class="Citas_grid result_wrapper">
                                        <!--<table class="results_table">
                                            <thead>
                                                <tr>
                                                    <th>Paciente</th>
                                                    <th *ngIf="!userData.checkUserPermission([userData.TIPO_DOCTOR]);">Doctor</th>
                                                    <th *ngIf="!userData.checkUserPermission([userData.TIPO_DOCTOR]);">Tipo de Servicio</th>
                                                    <th>Fecha</th>
                                                    <th>Estado</th>
                                                    <th></th>
                                                 </tr>
                                            </thead>
                                          </table>-->
                                          <table class="results_table"  *ngFor="let day of this.citasData.daysCitas">
                                              <thead  class="header_dayname">
                                                  <tr> 
                                                      <th>Paciente</th>
                                                      <th *ngIf="!userData.checkUserPermission([userData.TIPO_DOCTOR]);">Doctor</th>
                                                      <th *ngIf="!userData.checkUserPermission([userData.TIPO_DOCTOR]);">Tipo de Servicio</th>
                                                      <th>{{day.DayName}}</th>
                                                      <th>Estado</th>
                                                      <th></th>
                                                  </tr>
                                                </thead>
                                            <tbody>
                                                <tr *ngFor="let cita of day.citasShowPool">
                                                    <!--<td>{{cita.data.Nid}}</td>-->
                                                    <td  >{{cita.data.field_paciente.und[0].value}}</td>
                                                    <td *ngIf=" !this.userData.checkUserPermission([this.userData.TIPO_DOCTOR])">{{cita.data.doctor_name}}</td>
                                                    <td *ngIf="!this.userData.checkUserPermission([this.userData.TIPO_DOCTOR])">General</td>
                                                    <td ><span class="fontSecondary">{{cita.readableDate}}</span> - <span class="fontHigh">{{cita.readableTime}}</span></td>
                                                    <td  [ngStyle]="{'color':cita.stateColor}" >{{cita.getStateString()}}</td>
                                                    <td  class="toolCol">
                                                      <!--<img src="assets/imgs/editar.svg" class="icon_drapo" (click)="citasPresentator.editCita(cita)" 
                                                      *ngIf="( 
                                                        ( cita.checkState(citasData.STATE_PENDIENTE) ||  (cita.checkState(citasData.STATE_COBRO) && (this.userData.checkUserPermission([this.userData.TIPO_DOCTOR) ) 
                                                        && this.userData.checkUserPermission([this.userData.TIPO_RECEPCION, this.userData.TIPO_CAJAYRECEPCION]) || this.userData.checkUserPermission([this.userData.TIPO_DOCTOR]) 
                                                        );"/>-->
                                                      <img src="assets/imgs/editar.svg" class="icon_drapo" (click)="citasPresentator.editCita(cita)" *ngIf=" cita.checkState(citasData.STATE_PENDIENTE) && this.userData.checkUserPermission([this.userData.TIPO_RECEPCION, this.userData.TIPO_CAJAYRECEPCION, this.userData.TIPO_DOCTOR]) "/>
                                                      <img src="assets/imgs/editar.svg" class="icon_drapo" (click)="citasPresentator.editCita(cita)" *ngIf=" cita.checkState(citasData.STATE_COBRO) && this.userData.checkUserPermission([this.userData.TIPO_DOCTOR]) "/>
                                                      <button  *ngIf="cita.checkState(citasData.STATE_PENDIENTE) && this.userData.checkUserPermission([this.userData.TIPO_DOCTOR,this.userData.TIPO_RECEPCION, this.userData.TIPO_CAJAYRECEPCION])" (click)="citasPresentator.confirmarCita(cita)"  class="bgColorSecondary generalButton tableButton">Confirmar</button>
                                                      <button  *ngIf="cita.checkState(citasData.STATE_CONFIRMADA) && this.userData.checkUserPermission([this.userData.TIPO_DOCTOR])" (click)="citasPresentator.iniciarCita(cita);" class="bgColorSecondary generalButton tableButton">Activar</button>
                                                     <!--<button  *ngIf="cita.checkState(citasData.STATE_CONFIRMADA) && this.userData.checkUserPermission([this.userData.TIPO_DOCTOR])" (click)="citasPresentator.desConfirmarCita(cita);" class="bgColorSecondary generalButton tableButton">No confirmada</button>-->
                                      
                                                      <button  *ngIf="cita.checkState(citasData.STATE_ACTIVA) && this.userData.checkUserPermission([this.userData.TIPO_DOCTOR])" (click)="citasPresentator.iniciarCita(cita);" class="bgColorSecondary generalButton tableButton">Ver Progreso</button>
                                                      <!--<button  *ngIf="cita.checkState(citasData.STATE_ACTIVA) && this.userData.checkUserPermission([this.userData.TIPO_DOCTOR])" (click)="citasPresentator.desactivarCita(cita);" class="bgColorSecondary generalButton tableButton">Desactivar</button>-->
                                                      <button  *ngIf="cita.checkState(citasData.STATE_COBRO) && this.userData.checkUserPermission([this.userData.TIPO_DOCTOR, this.userData.TIPO_CAJA, this.userData.TIPO_CAJAYRECEPCION])" (click)="citasPresentator.openProgreso(cita);" class="bgColorSecondary generalButton tableButton">Cobrar</button>
                                                      <button  *ngIf="!cita.checkState(citasData.STATE_CANCELADA) && !cita.checkState(citasData.STATE_FINALIZADA) && !cita.checkState(citasData.STATE_COBRO) && !this.userData.checkUserPermission([this.userData.TIPO_CAJA])" (click)="citasPresentator.updateStatePop(cita, this.citasData.STATE_CANCELADA)" class="bgColorPrimary generalButton tableButton">Cancelar</button>
                                                      <button  *ngIf="!cita.checkState(citasData.STATE_FINALIZADA) && !cita.checkState(citasData.STATE_COBRO) && !this.userData.checkUserPermission([this.userData.TIPO_CAJA])" (click)="citasPresentator.delecitaCitaPop(cita)" class="bgColorPrimary generalButton tableButton">Eliminar</button>
                                                    </td>
                                                 </tr>
                                            </tbody>
                                          </table>
                                       
                                      </div>
      <!--<div class="section doctor_section" *ngFor="let doctor of this.doctoresData.doctores" >
              <span *ngIf="!this.permissions.checkUserPermission([this.userData.TIPO_DOCTOR])" class="spanBlock midMainFont">{{doctor.name}}</span>
              <span class="spanBlock midSubFont">Citas pendientes <span class="midMainFont">{{doctor.citasPendientes.length}}</span></span>
              <span *ngIf="doctor.citaActiva" class="spanBlock midSubFont">Se encuentra atendiendo a <span class="midMainFont">{{doctor.citaActiva.paciente}}</span></span>
              <button  *ngIf="doctor.citaActiva && doctor.citaActiva.checkState(citasData.STATE_ACTIVA) && this.userData.checkUserPermission([this.userData.TIPO_DOCTOR])" (click)="citasPresentator.iniciarCita(doctor.citaActiva);" class="bgColorSecondary generalButton tableButton">Ver Progreso</button>
              <span *ngIf="doctor.nextCita" class="spanBlock midSubFont"> Próxima cita con <span class="midMainFont">{{doctor.nextCita.paciente}}</span> dentro de <span class="midMainFont">{{doctor.nextCita.getUntilTimeString()}}</span></span>
              <button  *ngIf="doctor.nextCita && doctor.nextCita.checkState(this.citasData.STATE_PENDIENTE) && this.userData.checkUserPermission([this.userData.TIPO_DOCTOR,this.userData.TIPO_RECEPCION, this.userData.TIPO_CAJAYRECEPCION])" (click)="citasPresentator.confirmarCita(doctor.nextCita)"  class="bgColorSecondary generalButton tableButton">Confirmar</button>
              <button  *ngIf="!doctor.citaActiva && doctor.nextCita && doctor.nextCita.checkState(citasData.STATE_CONFIRMADA) && this.userData.checkUserPermission([this.userData.TIPO_DOCTOR])" (click)="citasPresentator.iniciarCita(doctor.nextCita);" class="bgColorSecondary generalButton tableButton">Activar</button>
              <span *ngIf="!doctor.nextCita && !doctor.citaActiva" class="spanBlock midSubFont">No tiene citas pendientes</span>
             
      </div>-->
                <!--
                <div class="section" *ngIf="userData.showReception">
                                <div class="section_dates">
                                      <span class="spanBlock midFont">Nombre del Doctor</span>
                                      <span class="spanBlock midFont"><b>Nombre del Paciente</b></span>
                                      <span class="spanBlock midFont description">Descripción</span>
                                </div>
                                <div class="section_button">
                                <button class="generalButton bgColorSecondary" (click)="openReportModal()">Notificar</button>
                                <button class="generalButton bgColorPrimary" (click)="openReportModal()">Cancelar</button>
                                </div>
                </div>

                <div class="section" *ngIf="userData.showReception">
                        <div class="section_dates">
                                <span class="spanBlock midFont">Nombre del Doctor</span>
                                <span class="spanBlock midFont"><b>Nombre del Paciente</b></span>
                                <span class="spanBlock midFont description">Descripción</span>
                        </div>
                        <div class="section_button">
                                <button class="generalButton bgColorHigh" (click)="openProgreso()">Cobrar</button>
                        </div>
                </div>
                -->
                <!--
                <div class="section_grid">
  <div class="section" *ngIf="this.permissions.checkUserFeature([this.userData.TIPO_DOCTOR],[this.userData.PLAN_ANY],false);">
      <div class="section_content">
    <div class="section_icon">
            <img src="assets/imgs/servicios.svg"/>
    </div>
    <div class="section_text midFont">
      <span class="spanBlock midMainFont">Alta de Servicios y Costos</span>
      <span class="spanBlock midSubFont">Administra, agrega o elimina servicios para tus consultas. </span>
    </div>
    </div>
    <div class="section_button">
    <button class="generalButton bgColorPrimary" (click)="openServicios()">Ir</button>
    </div>
  </div>


  <div class="section"  *ngIf="this.permissions.checkUserFeature([this.userData.TIPO_DOCTOR],[this.userData.PLAN_ANY],false);">
        <div class="section_content">
      <div class="section_icon">
              <img src="assets/imgs/usuarios.svg"/>
      </div>
      <div class="section_text midFont">
        <span class="spanBlock midMainFont">Alta de Usuarios</span>
        <span class="spanBlock midSubFont">Da de alta a los usuarios que utilizarán esta aplicación. </span>
      </div>
      </div>
      <div class="section_button">
      <button class="generalButton bgColorPrimary" (click)="openUsuarios()">Ir</button>
      </div>
    </div>

    

    

        


        <div class="section" *ngIf="permissions.checkUserFeature([userData.TIPO_ANY],[userData.PLAN_ANY])">
                <div class="section_content">
              <div class="section_icon">
                      <img src="assets/imgs/reportes.svg"/>
              </div>
              <div class="section_text midFont">
                <span class="spanBlock midMainFont">Reportes</span>
                <span class="spanBlock midSubFont">Genera y exporta el reporte de tus actividades. </span>
              </div>
              </div>
              <div class="section_button">
              <button class="generalButton bgColorPrimary" (click)="openReportes()">Ir</button>
              </div>
            </div>

            

            <div class="section"  *ngIf="permissions.checkUserFeature([userData.TIPO_DOCTOR],null)" >
                    <div class="section_content">
                  <div class="section_icon">
                          <img src="assets/imgs/datos.svg"/>
                  </div>
                  <div class="section_text midFont">
                    <span class="spanBlock midMainFont">Mis Datos</span>
                    <span class="spanBlock midSubFont">Configura tus datos personales y métodos
                            de pago. </span>
                    
                  </div>
                  </div>
                  <div class="section_button">
                  <button class="generalButton bgColorPrimary" (click)="openRegister()">Ir</button>
                  </div>
                </div>

                <div class="section" *ngIf="permissions.checkUserPlanHolder() && permissions.checkUserFeature([userData.TIPO_ANY],[userData.PLAN_ANY])" >
                        <div class="section_content">
                      <div class="section_icon">
                              <img src="assets/imgs/datos.svg"/>
                      </div>
                      <div class="section_text midFont">
                        <span class="spanBlock midMainFont">Facturación</span>
                        <span class="spanBlock midSubFont">Configura tus datos personales y métodos de pago.</span>
                      </div>
                      </div>
                      <div class="section_button">
                      <button class="generalButton bgColorPrimary">Ir</button>
                      </div>
                    </div>
    </div>-->
</ion-content>


