page-nuevousuario-modal {

    .nuevousuarioModal .modal-wrapper {
        min-width: 60%;
        min-height: 70%;
    }

    .alta_main{
        text-align: center;
    }

    .registerInput b{
        display:block;
    }


      //user tutorial
      .user_explain, .user_tutorial_selection {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 20px;
    }

    .codetext .label {
        padding-left: 20px;
    }


    .input_select[disabled] {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
    }
    
    .addbycode {
    width: 80%;
    display: flex;
    align-content: center;
    justify-content: center;
}

    .trisectional{
        display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }

    .user_explain .trisectional{
        margin: 20px;
    }
    .user_explain .trisectional_section{
        margin: 10px;
    }

    .user_explain .trisectional_section .spanBlock{
        margin:10px;
    }

    .user_tutorial_selection .spanBlock{
        text-align: center;
    }

    .bisectional {
        display: flex;
        flex: 1 1;
        flex-flow: row;
        justify-content: space-between;
        margin: 32px 0px;
    }

    .bisectional_section {
        width: 45%;
        padding: 15px;
    }

    .bisectional_section{
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 1px solid #D9D9D9;
        cursor: pointer;
    }

    .selectedOption{
        background-color: #dcdcdc;
    }

    .disabledsubbtn{
        background-color: gray;
    }

    .tutorial_explain_text {
        font-size: 2rem;
        margin: 19px;
        display: block;
    }
 

}
