<!--
  Generated template for the NuevousuarioModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
    <div class="modal_closer" (click)="this.dismiss();">Volver</div>
    <div class="modalPage_header" *ngIf="!this.tutorial.checkTutorialState()">
        <div class="modalPage_logo"><img src="assets/imgs/usuarios.svg"/></div>
        <div class="modalPage_title">
          <span *ngIf="this.isnew" class="spanBlock largeFont"><b>Alta de Usuario</b></span>
          <span *ngIf="!this.isnew" class="spanBlock largeFont"><b>Editar Usuario {{this.newUser.name}}</b></span>
        </div>
    </div>

    
    <div class="modalPage_header justify_center" *ngIf="this.tutorial.checkTutorialState()" >
            <div class="modalPage_logo"><img src="assets/imgs/usuarios.svg"/></div>
            <span class=" largeFont" *ngIf="this.isnew"><b>Alta de Usuario</b></span>
            <div class="modalPage_title">
              <span class="spanBlock midSubFont">Mantener el control de tus administrativos es nuestra prioridad, agrega hasta
                    2 usuarios adicionales para que te ayuden a gestionar y cobrar tus citas:</span>
            </div>
        </div>


    <div class="modalContent" *ngIf="!this.tutorial.checkTutorialState()  || (this.tutorial.checkTutorialState() && !this.tutorial.usuarioCreated)">
      <div class="alta_main" *ngIf="initialpage">
        <span class="spanBlock midSubFont">Busca usuarios compartidos o registra uno nuevo</span>
        <span class="spanBlock"> <button class="bgColorSecondary generalButton" (click)="codeuser=true; initialpage=false;">Buscar Usuario</button></span>
        <span class="spanBlock" *ngIf="this.userData.checkUserPlanHolder()"> <button class="bgColorSecondary generalButton" (click)="newuser=true; initialpage=false;">Registrar Nuevo</button></span>
      </div>
    <div class="nuevoservicio_content modalContent" *ngIf="codeuser">
        <div class="ModalInput_input">
            <b>Introducir Código</b>
            <input  [(ngModel)]="this.newUserCode" type="text"/>
        </div>
        <div class="midAlign">
            <div class="register_button_section">
            <button (click)="getUserByCode()" class="bgColorSecondary generalButton">Buscar</button>
            </div>
          </div>
    </div>
    <div class="nuevoservicio_content modalContent" *ngIf="newuser">
        <div *ngIf="this.isnew" class="ModalInput_input">
            <b>username</b>
            <input  [(ngModel)]="this.newUser.name" type="text"/>
        </div>
        <div class="ModalInput_input">
            <b>Tipo de Usuario:</b>
          <select  [(ngModel)]="this.newUser.field_tipo_de_usuario.und" class="input_select input">
              <option selected disabled value="0">SELECT</option>
              <option value="2">recepción</option>
              <option value="3">caja</option>
              <option value="4">recepción&caja</option>
            </select>
          </div>
          <div class="ModalInput_input">
            <b>Correo Electrónico</b>
            <input [(ngModel)]="this.newUser.field_useremail.und[0].email" type="text"/>
        </div>
        <div *ngIf="this.isnew" class="ModalInput_input">
            <b>Confirmar Correo Electrónico</b>
            <input [(ngModel)]="this.newUser.mail" type="text"/>
        </div>
        <div class="ModalInput_input">
            <b>Contraseña</b>
            <input [(ngModel)]="this.newUser.pass" type="password"/>
        </div>
        <div class="ModalInput_input">
            <b>Confirmar Contraseña</b>
            <input [(ngModel)]="this.checkpass" type="password"/>
        </div>
        <div class="midAlign">
            <div class="register_button_section">
            <button *ngIf="this.isnew"  (click)="createUserd()" class="bgColorSecondary generalButton">Agregar</button>
            <button *ngIf="!this.isnew" (click)="updateUserd()"  class="bgColorSecondary generalButton">Actualizar</button>
            </div>
          </div>

    </div>
  
    </div>

    <div class="modalContent" style="text-align: center;" *ngIf="this.tutorial.checkTutorialState() && this.tutorial.usuarioCreated" >
            <span class="spanBlock bigBoldFont">!Felicidades!</span>
            <span class="spanBlock midMainFont"> tu Usuario : Nombre del Servicio ha sido creado.</span>
            <span class="spanBlock midSubFont">Te propordcionamos sus datos para que pueda ingresar desde este momento a DRAP</span>
            <span class="spanBlock midSubFont">Nombre:</span>
            <span class="spanBlock midSubFont">Correo:</span>
            <span class="spanBlock midSubFont">Contraseña:</span>
            <span class="spanBlock midSubFont"> Puedes modificar este y/o agregar más usuarios siempre que lo desees en la sección de Alta de Usuarios y costos en el menú de la Aplicación</span>
            </div>
            <div class="midAlign" *ngIf="this.tutorial.checkTutorialState() ">
                <div class="register_button_section">
                <button (click)="this.dismiss()" class="bgColorSecondary generalButton">Continuar</button>
                </div>
              </div>
</ion-content>
