<!--
  Generated template for the NuevousuarioModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
    <div class="modalPage_header">
        <div class="modalPage_logo"><img src="assets/imgs/usuarios.svg"/></div>
        <div class="modalPage_title">
          <span *ngIf="this.isnew" class="spanBlock largeFont"><b>Alta de Usuario</b></span>
          <span *ngIf="!this.isnew" class="spanBlock largeFont"><b>Editar Usuario {{this.newUser.name}}</b></span>
        </div>
    </div>
    <div class="modalContent">
      <div class="alta_main" *ngIf="initialpage">
        <span class="spanBlock midSubFont">Busca usuarios compartidos o registra uno nuevo</span>
        <span class="spanBlock"> <button class="bgColorSecondary generalButton" (click)="codeuser=true; initialpage=false;">Buscar Usuario</button></span>
        <span class="spanBlock"> <button class="bgColorSecondary generalButton" (click)="newuser=true; initialpage=false;">Registrar Nuevo</button></span>
      </div>
    <div class="nuevoservicio_content modalContent" *ngIf="codeuser">
        <div class="ModalInput_input">
            <b>Introducir Codigo</b>
            <input  [(ngModel)]="this.newUserCode" type="text"/>
        </div>
        <div class="midAlign">
            <div class="register_button_section">
            <button (click)="getUserByCode()" class="bgColorSecondary generalButton">Buscar</button>
            </div>
          </div>
    </div>
    <div class="nuevoservicio_content modalContent" *ngIf="newuser">
        <div *ngIf="this.isnew" class="ModalInput_input">
            <b>username</b>
            <input  [(ngModel)]="this.newUser.name" type="text"/>
        </div>
        <div class="ModalInput_input">
            <b>Tipo de Usuario:</b>
          <select  [(ngModel)]="this.newUser.field_tipo_de_usuario.und" class="input_select input">
              <option selected disabled value="0">SELECT</option>
              <option value="2">recepcion</option>
              <option value="3">caja</option>
              <option value="4">recepcion&caja</option>
            </select>
          </div>
          <div class="ModalInput_input">
            <b>Correo Electronico</b>
            <input [(ngModel)]="this.newUser.field_useremail.und[0].email" type="text"/>
        </div>
        <div *ngIf="this.isnew" class="ModalInput_input">
            <b>Confirmar Correo Electronico</b>
            <input [(ngModel)]="this.newUser.mail" type="text"/>
        </div>
        <div class="ModalInput_input">
            <b>Contraseña</b>
            <input [(ngModel)]="this.newUser.pass" type="password"/>
        </div>
        <div class="ModalInput_input">
            <b>Confirmar Contraseña</b>
            <input [(ngModel)]="this.checkpass" type="password"/>
        </div>
        <div class="midAlign">
            <div class="register_button_section">
            <button *ngIf="this.isnew"  (click)="createUserd()" class="bgColorSecondary generalButton">Agregar</button>
            <button *ngIf="!this.isnew" (click)="updateUserd()"  class="bgColorSecondary generalButton">Actualizar</button>
            </div>
          </div>

    </div>
  
    </div>
</ion-content>
