page-register-modal {
    
    .register_contet_head{
        border-bottom: 1px solid #a0a0a059;
        text-align: center;
        padding: 55px 10px;
        margin-bottom: 10px;
    }

    .remove_reference_name{
        margin-left: 20px;
        cursor: pointer;
    }


    .rfsFlex{
        display: -webkit-flex;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        padding: 20px 10% 20px 10%;
    }

    .radio_group_wrapper{
        text-align: center;
    }

    .radio_group{
        color: black;
        display: -webkit-flex;
        display: flex;
        justify-content: space-evenly;
    }

 
    .rfsFlex .registerInput,.rfsFlex .ubication_det{
        width: 50%;
    }

    .ubication_det{
        display: -webkit-inline-flex;
        display: inline-flex;
        justify-content: right;
        align-items: center;
    }

    .rfsFlex .registerInput input{
        width: 55%;
        text-align: left;
    }

    .registerInputerror{
        background: #f1d5d5 !important;
    }

    .registerInputerrorOn{
        background: #f1d5d5 !important;
    }

    
    .rfsFlex .registerInput .input_select{
        width: 55% !important;
        padding: 15px;
        margin: 15px;
    }

    
    .ubdet_input{
        text-align:  right;
    }
    
    .ubdet_input input{
        width: 40%;
        margin-left: 10px;
        background:#F2F2F2;
        padding: 15px;
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 0px solid #000000;
    }

    .ubdet_input b{
        font-size: 2rem !important;
        color: #4D4D4D;
        font-weight: 600;
    }



 

    .register_group .registerInput input{
        width: 75%;
        text-align: left;
    }

   

    .list-md .item-block .item-inner{
        border:none;
        margin: 20px;
    }

    

    .group_sect{
        width: 100%;
        font-size: 2rem !important;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    
    .group_sect_element{
        width: 30%;
        min-width: 200px;
    }

    .register_form_section{
        border-bottom: 1px solid #a0a0a059;
        padding-top: 10px;
        padding-bottom: 10px;
    }

   

    .plan_twosided{
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        flex-flow: row;
    }

    .plan_twosided .reg_plan_section{
        width: 49%;
        min-width: 800px;
        text-align: center;
    }

    .plan_span{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .rps_lefFont{
        text-align: left !important;
    }

    .register_button_section{
        text-align: center;
    }

    .register_button_section a{
        float: right;
    }

    .register_last{
        padding: 50px;
    }

    .bluelink_wrapper{
        width:100%;
        padding-left: 50px;
        padding-right: 50px;
    }

    .blueLink{
        float: right;
        cursor: pointer;
    }



.button_section_inline{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_section_inline button{
    width: 10%;
}

.fact_page_wrapper{
    padding-top: 40px;
    width:100%;
    text-align: center;
}

.subscribe_wrap{
    width: 100%;
    display: flex;
    flex: 2 1
}

.fact_label_main{
    font-size: 1.5em;
}

.left_label{
    width: 100%;
    text-align: left;
    display: block;
}





    .form-row{
        padding: 10px;
      }
    
      .StripeElement {
        background-color: white;
        padding: 8px 12px;
        border-radius: 4px;
        border: 1px solid transparent;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
      }
    
      .StripeElement--focus {
        box-shadow: 0 1px 3px 0 #cfd7df;
      }
    
      .StripeElement--invalid {
        border-color: #fa755a;
      }
    
      .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
      }

      .fact_myplan .myplan_block{
        width: 100%;
        height: 50px;
        font-size: 2.5rem;
        padding-left: 30px;
        display: flex;
        align-items: center;
        font-weight: bold;
      }


      .fact_section{
        display: flex;
        justify-content:center;
        width: 49%;
        min-width: 300px;
      }

      .fact_payment_methods, .fact_myplan {
        width: 100%;
        padding: 40px;
    }

    .nopayment_label{
        font-size: 1.2em;
        padding: 20px;
    }

    .sources_wrapper{
        min-height: 100px;
    }

    .fact_src_unit, .fact_pna_item{
      width: 100%;
      max-width: 500px;
      height: 50px;
      display: flex;
      align-items: center;
      font-weight: bold;
      font-size: 1.5rem;
      background-color: lightgray;
      padding-left: 30px;
      cursor: pointer;
      margin-bottom: 5px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000;
  }
  
  .selectedsrc, .selectedplan{
    background-color: #50A3C7;
    color: white;
  }

  .disabledsubbtn{
      background-color: gray;
  }

  .forwrapper{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .forwrapper form{
    width: 60%;
    min-width: 300px
  }

  .checkout{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    padding: 20px;
    padding-right: 95px;
  }

  .checkout div{
    display: inline-block;
    min-width: 300px;
  }

  .checkout .button_section{
    width: 20%
  }

  .myplan_doctor{
    display: block;
    color: #6DB5DE;
    padding-left: 50px;
    font-size: 1.5em;
    font-weight: 800;
  }

  .myplan_explain{
    display: block;
    padding-left: 50px;
  }

  .delete_doctor{
    color:red !important;
    font-size: 0.6em;
  }

  .access_code_opt, .acesss_code_show{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 35px;
    padding-right: 60px;
  }

  .access_code_opt_link{
    color: #6DB5DE;
    display:inline-block;
    font-size: 1.5em;
  }

  .acesss_code_show_input{
    width: 400px;
    margin-left:50px;
    margin-right: 50px;
  }

  .copyCodeBtn{
      
  }

  
@media screen and (max-width: 1000px) {
    .checkout{
        padding: 0;
        align-items: center;
    }

    .rfsFlex .registerInput, .rfsFlex .ubication_det{
        width: 100%;
        text-align: left;
    }

    .rfsFlex .ubication_det{
        flex-flow: column;
    }

    .rfsFlex .registerInput input{
        width: 90%;
        font-size: 17px;
    }

    .rfsFlex .registerInput .input_select{
        width: 90% !important;
    }

    

   .registerInput b{
        width: 100%;
        display: block;
        font-size: 18px;
    }

    .registerInput input {
        width: 90%;
    }

    

    .ubdet_input{
        margin-top: 10px;
       
    }

    .bluelink_wrapper .blueLink {
        float: right;
        cursor: pointer;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        background: #C1272D;
        /* padding: 10px; */
        /* margin-left: 35px; */
        padding-top: 20px;
        padding-bottom: 10px;
        color: white;
        padding-left: 20px;
    }

    .scroll-content{
        padding-top: 20px;
    }
}

.modal_header{
    text-align: center;
    width: auto;
    margin: 30px;
    padding: 10px;
    border-bottom: 1px solid gray;
 }
 .header_title{
     font-size: 8rem;
 }
 .header_subtitle{
     font-size: 3.5rem;
     font-weight: bold;
 }
 .modal_title_logo{
     display: inline-block;
     max-width: 250px;
     max-height: 70px;
     height: auto;
     width: auto;
 }
 .modal_body{
     text-align: center;
     font-size: 2rem;
     padding-left: 20px;
     padding-right: 20px;
 }

 .code_wrapper{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: column;
     padding: 10px 60px;
     border-bottom: 1px solid #a0a0a059;
     margin-bottom: 20px;
 }



  @media screen and (max-width: 768px) {

  .rfsFlex{
    flex-flow: column ;
    }

    .registerInput{
        width: 100% !important;
        text-align: left;
    }

    .ubdet_input{
        text-align: left;
    }

    .rfsFlex .registerInput, .rfsFlex .ubication_det{
        width: 100%;
    }
}



  

  


}


