<!--
  Generated template for the RegisterModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="register_modal">
</ion-header>
<ion-content class="register_content">

      <div *ngIf="!isnew"  class="fact_page_wrapper">
        <div *ngIf="!userData.checkUserSuscription([userData.PLAN_ANY])" class="access_code_opt"><span (click)="showInvitation();" class="access_code_opt_link">Tengo un código de invitación</span></div>
        <div *ngIf="!userData.checkUserSuscription([userData.PLAN_ANY]) && invitationshow" class="acesss_code_show"><ion-item class="acesss_code_show_input">
            <ion-input placeholder="Código de invitación" [(ngModel)]="invitationCode"></ion-input>
          </ion-item>
          <button class="generalButton largeButton bgColorPrimary" (click)="invitationSub()" >Enviar</button>  
        </div>
      <div class="fact_subs_info fac_tsection">
        <div class="fact_myplan" *ngIf="userData.checkUserSuscription([userData.PLAN_ANY])">
          <span class="myplan_block">Plan activo: {{userData.subscription.plan.title}}</span>
          <span *ngIf="this.userData.checkUserPlanHolder()">
          <span class="myplan_block">Código de invitación: {{userData.subscription.field_invitation_code}}</span>
          <span class="myplan_explain">Entrégale este código a los doctores con los que quieras compartir esta suscripción a <span class="colorPrimary">DRAP</span></span>
          <span class="myplan_block">Doctores Afiliados:</span>
          <span *ngFor="let dctr of userData.subscription.field_doctores_info" class="myplan_doctor">{{dctr.name}} <span class="delete_doctor" *ngIf="this.userData.userData.uid !== dctr.uid" (click)="popRemoveDoctorSus(dctr.uid);">remover</span></span>
          <span class="myplan_block">Subcuentas activas:{{userData.subscription.noSubcuentas}}</span>
          </span>
          <span *ngIf="!this.userData.checkUserPlanHolder()">
              <span class="myplan_block">Usted esta afiliado a una subscripción administrada por otro usuario</span>
          </span>
        </div>
        <div class="fact_myplan noplan" *ngIf="!userData.checkUserSuscription([userData.PLAN_ANY])">
            <span class="fact_label">Usted no cuenta con un plan activo, seleccione un plan.</span>
            <div *ngFor="let factplan of this.userData.planes" [class.selectedplan]="factplan.css_fact_selected" class="fact_pna_item" (click)="selectPlan(factplan);">
              {{factplan.title}} 
            </div>
        </div>
      </div>
    <div class="fact_page_content fact_section">
      <div class="fact_payment_methods" *ngIf="!userData.checkUserSuscription([userData.PLAN_ANY])">
        <span class="fact_label">seleccione un método de pago:</span>
        <div *ngFor="let src of this.sources" (click)="selectCard(src)"   [class.selectedsrc]="src.selected" class="fact_src_unit">
          {{src.brand}} **** **** **** {{src.last4}}
        </div>
      <span class="fact_label">agregar un método de pago:</span>
      <div class="forwrapper">
      <form action="/" method="post" id="payment-form">
        
        <div class="form-row">
          <div id="card-element">
            <!-- a Stripe Element will be inserted here. -->
          </div>
    
          <!-- Used to display Element errors -->
          <div id="card-errors" role="alert"></div>
        </div>
    
      <button ion-button block large>Agregar Tarjeta</button>
      </form>
      </div>
      </div>
    </div>
    </div>
    <div class="checkout">
      <div class="details"></div>
      <div class="button_section">
          <button (click)="suscribirse()" [disabled]="this.selectCard === null || this.selectPlan === null" *ngIf="this.checkStripeSetup()" ion-button block large>Suscribirse</button>
      </div>
    </div>

  <div class="register_contet_head">
    <div class="bigFont" *ngIf="this.isnew"> <span class="fontPrimary"><b>Registro</b></span> <span class="lightFont">de Nuevo Usuario</span></div>
    <div class="midSubFont" *ngIf="this.isnew"> Por favor proporciona los siguientes datos: </div>
    <div class="bigFont" *ngIf="!this.isnew"> <span class="fontPrimary"><b>Datos</b></span> <span class="lightFont">de Usuario</span></div>
  </div>
  <div class="register_contet_form">
    <div class="register_base register_form_section rfsFlex">
        <div class="registerInput">
            <b>Email:</b><input [(ngModel)]="this.userData.userData.mail" type="text"/>
          </div>
          <div class="registerInput">
              <b>Username:</b><input [(ngModel)]="this.userData.userData.name" type="text" />
            </div>
            <div class="registerInput">
                <b>Contraseña:</b><input [(ngModel)]="this.userData.userData.pass" type="password"/>
              </div>
              <div class="registerInput">
                <b>Confirmar:</b><input [(ngModel)]="passconfirm" type="password"/>
              </div>
              <div class="registerInput">
                <b>Nombre:</b><input [(ngModel)]="this.userData.userData.field_nombre.und[0].value" type="text"/>
              </div>
              <div class="registerInput">
                <b>Apellido:</b><input  [(ngModel)]="this.userData.userData.field_apellidos.und[0].value"  type="text" />
              </div>
              
              <div class="registerInput">
                <b>Especialidad:</b><input [(ngModel)]="this.userData.userData.field_especialidad.und[0].value" type="text"/>
              </div>
            
              <div class="registerInput">
                <b>Alias:</b><input [(ngModel)]="this.userData.userData.field_alias.und[0].value" type="text"/>
              </div>
             
    </div>

    <!--<div class="register_group register_form_section">
      <div class="group_sect">
          <span class="group_sect_element radio_group_wrapper">
            <span class="spanBlock ">
              ¿Pertenece a un grupo mèdico?
            </span> 
              <span class="radio_group" >
                <span><input [(ngModel)]="this.onGroup" type="radio" name="ongroup" value="1">Sí</span> 
                <span><input [(ngModel)]="this.onGroup" type="radio" name="ongroup" value="0">No</span></span>
              </span>
          <span class="group_sect_element"><span class="registerInput" *ngIf="(this.onGroup == true)">
            <select  class="input_select input">
              <option selected disabled value="0">SELECT</option>
            </select>
          </span></span>
          <span class="group_sect_element"><span class="registerInput"  *ngIf="(this.onGroup == true)"><input  [(ngModel)]="this.grupoOtro" class="registerInput"  placeholder="OTHER" type="text" /></span></span>
      </div>


      <div class="group_sect">
          <span class="group_sect_element radio_group_wrapper">
            <span class="spanBlock ">
                ¿Pertenece a algún Hospital ó Comunidad Médica?
            </span> 
              <span class="radio_group">
                <span><input [(ngModel)]="this.onHospital" type="radio" name="onHospital" value="1">Sí</span> 
                <span><input [(ngModel)]="this.onHospital" type="radio" name="onHospital" value="0">No</span></span>
              </span>
          <span class="group_sect_element"><span class="registerInput" *ngIf="(this.onHospital == true)">
            <select  class="input_select input">
              <option selected disabled value="0">SELECT</option>
            </select>
          </span></span>
          <span class="group_sect_element"><span class="registerInput" *ngIf="(this.onHospital == true)"><input  [(ngModel)]="this.hospitalOotro" class="registerInput" placeholder="OTHER" type="text" /></span></span>
      </div>
    </div>-->

    <div class="register_ubication register_form_section rfsFlex">
        <div class="registerInput">
            <b>Calle:</b><input [(ngModel)]="this.userData.userData.field_calle.und[0].value"  type="text"/>
        </div>
        <div class="ubication_det">
            <span class="ubdet_input"> <b>No. Ext.</b> <input [(ngModel)]="this.userData.userData.field_no_ext.und[0].value"  type="text"/></span>
            <span class="ubdet_input"> <b>No. Int.</b><input [(ngModel)]="this.userData.userData.field_no_int.und[0].value"  type="text"/></span>
            <span class="ubdet_input"> <b>C.P</b> <input [(ngModel)]="this.userData.userData.field_codigo_postal.und[0].value"  type="text"/></span>
        </div>
        <div class="registerInput">
            <b>Ciudad:</b><input [(ngModel)]="this.userData.userData.field_ciudad.und[0].value"  type="text"/>
        </div>
        <div class="registerInput">
            <b>Colonia:</b><input [(ngModel)]="this.userData.userData.field_colonia.und[0].value"  type="text"/>
        </div>
        <div class="registerInput">
            <b>País:</b><input [(ngModel)]="this.userData.userData.field_pais.und[0].value"  type="text"/>
        </div>
        <div class="registerInput">
            <b>Municipio o Del.:</b><input [(ngModel)]="this.userData.userData.field_municipio.und[0].value"  type="text"/>
        </div>
        <div class="registerInput">
          <b>Estado:</b>
        <select  class="input_select input" [(ngModel)]="this.userData.userData.field_estado_ubicacion.und[0].value">
            <option selected disabled value="0">SELECT</option>
            <option selected  value="Aguascalientes">Aguascalientes</option>
            <option selected  value="Baja California">Baja California</option>
            <option selected  value="Baja California Sur">Baja California Sur</option>
            <option selected  value="Campeche">Campeche</option>
            <option selected  value="Chihuahua">Chihuahua</option>
            <option selected  value="Chiapas">Chiapas</option>
            <option selected  value="Coahuila">Coahuila</option>
            <option selected  value="Colima">Colima</option>
            <option selected  value="Durango">Durango</option>
            <option selected  value="Guanajuato">Guanajuato</option>
            <option selected  value="Guerrero">Guerrero</option>
            <option selected  value="Hidalgo">Hidalgo</option>
            <option selected  value="Jalisco">Jalisco</option>
            <option selected  value="México">México</option>
            <option selected  value="Michoacán">Michoacán</option>
            <option selected  value="Morelos">Morelos</option>
            <option selected  value="Nayarit">Nayarit</option>
            <option selected  value="Nuevo León">Nuevo León</option>
            <option selected  value="Oaxaca">Oaxaca</option>
            <option selected  value="Puebla">Puebla</option>
            <option selected  value="Querétaro">Querétaro</option>
            <option selected  value="Quintana Roo">Quintana Roo</option>
            <option selected  value="San Luis Potosí">San Luis Potosí</option>
            <option selected  value="Sinaloa">Sinaloa</option>
            <option selected  value="Sonora">Sonora</option>
            <option selected  value="Tabasco">Tabasco</option>
            <option selected  value="Tamaulipas">Tamaulipas</option>
            <option selected  value="Tlaxcala">Tlaxcala</option>
            <option selected  value="Veracruz">Veracruz</option>
            <option selected  value="Yucatán">Yucatán</option>
            <option selected  value="Zacatecas">Zacatecas</option>
          </select>
        </div>
    </div>
   
    <!--
    <div class="register_payment register_form_section rfsFlex">
        <div class="registerInput">
            <b>Forma de Pago: </b>
          <select  class="input_select input">
              <option selected disabled value="0">SELECT</option>
            </select>
          </div>
        <div class="registerInput">
            <b>Referido Por:</b><input type="text"/>
        </div>
        <div class="registerInput">
            <b>Tipo de Plan:</b>
          <select  class="input_select input">
              <option selected disabled value="0">Básico</option>
            </select>
          </div>
    </div>
    <div class="registro_planes register_form_section">
      <div class="plan_basico plan_twosided plan_span">
        <div class="reg_plan_section ">
          <div class="rps_title bigFont">Plan <b class="fontPrimary">Básico</b></div>
          <div class="bigSubFont">$199</div>
        </div>
        <div class="reg_plan_section rps_lefFont">
          <div class="midFont">Características</div>
          <div class="midSubFont">Obtén reportes detallados de tu actividad al cierre del día</div>
        </div>
      </div>
    </div>
  -->
    <div class="register_last">
    <div class="register_button_section">
    <button *ngIf="isnew"   class="bgColorPrimary generalButton" (click)="actionRegister()" >Registrarme</button>
    <button *ngIf="!isnew"   class="bgColorPrimary generalButton" (click)="actionUpdate()" >Actualizar Datos</button>
    </div>
    <div class="bluelink_wrapper">
    <a class="blueLink midFont" (click)="this.dismiss();">¡Ya Tengo una Cuenta!</a>
  </div>
  </div>
  </div>
</ion-content>
