
<ion-content class="register_content">
    <div class="modal_closer" *ngIf="!this.isnew" (click)="this.dismiss();">Volver</div>
  <div class="register_contet_head">
    <div class="bigFont" *ngIf="this.isnew"> <span class="fontPrimary"><b>Registro</b></span> <span class="lightFont">de Nuevo Suscriptor</span></div>
    <div class="midSubFont" *ngIf="this.isnew"> Por favor proporciona los siguientes datos: </div>
    <div class="bigFont" *ngIf="!this.isnew"> <span class="fontPrimary"><b>Datos</b></span> <span class="lightFont">de Usuario</span></div>
  </div>
  <div class="code_wrapper"  *ngIf="!permissions.checkUserPermission([userData.TIPO_DOCTOR]) && !permissions.checkifgroup() && !this.isnew">
   <span class="spanBlock">Codigo de usuario: <input [(ngModel)]="this.userData.userData.field_codigo.und[0].value" type="text" readonly/></span>
   <span class="spanBlock">Los doctores pueden usar este codigo para que tengas acceso a sus citas.</span>
  </div>
  <div class="register_contet_form"  >
    <div class="register_base register_form_section rfsFlex">
        <div class="registerInput">
            <b>Correo electrónico:</b><input [(ngModel)]="this.userData.userData.mail" [class.registerInputerror]="!this.userData.userData.mail && showerrors" type="text"/>
          </div>
          <div class="registerInput" *ngIf="this.isnew">
            <b>Confirmar Correo electrónico:</b><input [(ngModel)]="emailconfirm" [class.registerInputerror]="!this.emailconfirm && showerrors" type="text"/>
          </div>

          <div class="registerInput" *ngIf="this.isnew" >
              <b>Username:</b><input [(ngModel)]="this.userData.userData.name" [class.registerInputerror]="!this.userData.userData.name && showerrors" type="text" />
            </div>
            <div class="registerInput">
                <b>Contraseña:</b><input [(ngModel)]="this.userData.userData.pass"  [class.registerInputerror]="!this.userData.userData.pass && showerrors" type="password"/>
              </div>
              <div class="registerInput">
                <b>Confirmar contraseña:</b><input [(ngModel)]="passconfirm"  [class.registerInputerror]="!this.passconfirm && showerrors" type="password"/>
              </div>
              <div class="registerInput">
                <b>Nombre:</b><input [(ngModel)]="this.userData.userData.field_nombre.und[0].value" [class.registerInputerror]="!this.userData.userData.field_nombre.und[0].value && showerrors"  type="text"/>
              </div>
              <div class="registerInput">
                <b>Apellido:</b><input  [(ngModel)]="this.userData.userData.field_apellidos.und[0].value" [class.registerInputerror]="!this.userData.userData.field_apellidos.und[0].value && showerrors"  type="text" />
              </div>
              
              <div class="registerInput" *ngIf="permissions.checkUserPermission([userData.TIPO_DOCTOR]);">
                <b>Especialidad:</b><input [(ngModel)]="this.userData.userData.field_especialidad.und[0].value" [class.registerInputerror]="!this.userData.userData.field_especialidad.und[0].value && showerrors" type="text"/>
              </div>
            
              <div class="registerInput" *ngIf="permissions.checkUserPermission([userData.TIPO_DOCTOR]);">
                <b>Alias:</b><input [(ngModel)]="this.userData.userData.field_alias.und[0].value" [class.registerInputerror]="!this.userData.userData.field_alias.und[0].value && showerrors" type="text"/>
              </div>
    </div>

    

    <div class="register_ubication register_form_section rfsFlex" *ngIf="this.isnew || permissions.checkUserPermission([userData.TIPO_DOCTOR]);">
        <div class="registerInput">
            <b>Calle:</b><input [(ngModel)]="this.userData.userData.field_calle.und[0].value"  type="text"/>
        </div>
        <div class="ubication_det">
            <span class="ubdet_input"> <b>No. Ext.</b> <input [(ngModel)]="this.userData.userData.field_no_ext.und[0].value"  [class.registerInputerrorOn]="!this.userData.userData.field_no_ext.und[0].value && showerrors"  type="text"/></span>
            <span class="ubdet_input"> <b>No. Int.</b><input [(ngModel)]="this.userData.userData.field_no_int.und[0].value"  type="text"/></span>
            <span class="ubdet_input"> <b>C.P</b> <input [(ngModel)]="this.userData.userData.field_codigo_postal.und[0].value" [class.registerInputerrorOn]="!this.userData.userData.field_codigo_postal.und[0].value && showerrors" type="text"/></span>
        </div>
        <div class="registerInput">
            <b>Ciudad:</b><input [(ngModel)]="this.userData.userData.field_ciudad.und[0].value" [class.registerInputerror]="!this.userData.userData.field_ciudad.und[0].value && showerrors" type="text"/>
        </div>
        <div class="registerInput">
            <b>Colonia:</b><input [(ngModel)]="this.userData.userData.field_colonia.und[0].value"   type="text"/>
        </div>
        <div class="registerInput">
            <b>País:</b><input [(ngModel)]="this.userData.userData.field_pais.und[0].value"  [class.registerInputerror]="!this.userData.userData.field_pais.und[0].value && showerrors"  type="text"/>
        </div>
        <div class="registerInput">
            <b>Municipio o Del.:</b><input [(ngModel)]="this.userData.userData.field_municipio.und[0].value"  type="text"/>
        </div>
        <div class="registerInput">
          <b>Estado:</b>
        <select  class="input_select input" [(ngModel)]="this.userData.userData.field_estado_ubicacion.und[0].value">
            <option selected disabled value="0">SELECT</option>
            <option selected  value="Aguascalientes">Aguascalientes</option>
            <option selected  value="Baja California">Baja California</option>
            <option selected  value="Baja California Sur">Baja California Sur</option>
            <option selected  value="Campeche">Campeche</option>
            <option selected  value="CDMX">CDMX</option>
            <option selected  value="Chihuahua">Chihuahua</option>
            <option selected  value="Chiapas">Chiapas</option>
            <option selected  value="Coahuila">Coahuila</option>
            <option selected  value="Colima">Colima</option>
            <option selected  value="Durango">Durango</option>
            <option selected  value="Guanajuato">Guanajuato</option>
            <option selected  value="Guerrero">Guerrero</option>
            <option selected  value="Hidalgo">Hidalgo</option>
            <option selected  value="Jalisco">Jalisco</option>
            <option selected  value="México">México</option>
            <option selected  value="Michoacán">Michoacán</option>
            <option selected  value="Morelos">Morelos</option>
            <option selected  value="Nayarit">Nayarit</option>
            <option selected  value="Nuevo León">Nuevo León</option>
            <option selected  value="Oaxaca">Oaxaca</option>
            <option selected  value="Puebla">Puebla</option>
            <option selected  value="Querétaro">Querétaro</option>
            <option selected  value="Quintana Roo">Quintana Roo</option>
            <option selected  value="San Luis Potosí">San Luis Potosí</option>
            <option selected  value="Sinaloa">Sinaloa</option>
            <option selected  value="Sonora">Sonora</option>
            <option selected  value="Tabasco">Tabasco</option>
            <option selected  value="Tamaulipas">Tamaulipas</option>
            <option selected  value="Tlaxcala">Tlaxcala</option>
            <option selected  value="Veracruz">Veracruz</option>
            <option selected  value="Yucatán">Yucatán</option>
            <option selected  value="Zacatecas">Zacatecas</option>
          </select>
        </div>
    </div>

    <div class="register_ubication register_form_section rfsFlex" *ngIf="this.isnew">
      <p>Referencia: ¿Alguien te invito a drap?</p> 
      <p>Ingresa su correo electrónico </p>
      <div class="registerInput">
        <b>Email:</b><input [(ngModel)]="this.mailsrefer" type="text"/>
    </div>

    <div class="register_button_section">
        <button  class="bgColorPrimary generalButton" (click)="actionBuscarRef()" >Buscar</button>
      </div>

    </div>
    <div class="register_ubication register_form_section rfsFlex" *ngIf="this.refuser" >
      <span class="user_referenced_name"> {{this.refuserName}} </span> <span class="remove_reference_name" (click)="removeReference()" > X </span>
      </div>
   
    <!--
    <div class="register_payment register_form_section rfsFlex">
        <div class="registerInput">
            <b>Forma de Pago: </b>
          <select  class="input_select input">
              <option selected disabled value="0">SELECT</option>
            </select>
          </div>
        <div class="registerInput">
            <b>Referido Por:</b><input type="text"/>
        </div>
        <div class="registerInput">
            <b>Tipo de Plan:</b>
          <select  class="input_select input">
              <option selected disabled value="0">Básico</option>
            </select>
          </div>
    </div>
    <div class="registro_planes register_form_section">
      <div class="plan_basico plan_twosided plan_span">
        <div class="reg_plan_section ">
          <div class="rps_title bigFont">Plan <b class="fontPrimary">Básico</b></div>
          <div class="bigSubFont">$199</div>
        </div>
        <div class="reg_plan_section rps_lefFont">
          <div class="midFont">Características</div>
          <div class="midSubFont">Obtén reportes detallados de tu actividad al cierre del día</div>
        </div>
      </div>
    </div>
  -->
    <div class="register_last">
    <div class="register_button_section">
    <button *ngIf="isnew"   class="bgColorPrimary generalButton" (click)="actionRegister()" >Registrarme</button>
    <button *ngIf="!isnew"   class="bgColorPrimary generalButton" (click)="actionUpdate()" >Actualizar Datos</button>
    </div>
    <div class="bluelink_wrapper">
    <a  *ngIf="this.isnew"   class="blueLink midFont" (click)="this.dismiss();">¡Ya Tengo una Cuenta!</a>
  
  </div>
  </div>
  </div>
</ion-content>
