page-recover-modal {

   .modal_body{
    padding:30px;
   }

   .modal_body p{
       font-size: 2rem;
   }

   .loginInput{
    min-width: 300px;
    margin-top: 20px;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 24px 24px 24px 24px;
    -moz-border-radius: 24px 24px 24px 24px;
    -webkit-border-radius: 24px 24px 24px 24px;
    background: #eee;
    border: 0px solid #000000;
   }

}
