<!--
  Generated template for the GroupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header></header>
<ion-content padding>
    <div class="modalPage_header">
        <div class="modalPage_logo"><img src="assets/imgs/usuarios.svg"/></div>
        <div class="modalPage_title">
          <span class="spanBlock midFont"><b>Grupo Medico</b></span>
          <span class="spanBlock midSubFont">Revisa y administra los doctores de tu grupo</span>
          <span class="spanBlock midMainFont"><input class="codigo" type="text" value="{{this.subsData.subscription.field_invitation_code}}" readonly></span>
        </div>
        </div>
    <table class="results_table">
        <thead>
            <tr> 
                <th>Nombre</th>
                <th></th>
            </tr>
          </thead>
      <tbody>
        <tr *ngFor="let doc of this.subsData.docs">
          <td> {{doc['name']}} </td>
          <td  class="toolCol">
              <button *ngIf="!isThis(doc['uid']) && isplanHolder()" (click)="removerSubsUser(doc['uid'])"  class="bgColorPrimary generalButton tableButton">Remover</button>
              <button *ngIf="isThis(doc['uid']) && !isplanHolder()" (click)="getOut(doc['uid'])"  class="bgColorPrimary generalButton tableButton">Salir</button>
            </td>
        </tr>
      </tbody>
    </table>
  <footer></footer>
</ion-content>
