<ion-menu side="right" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
    
      <!--<button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>-->
      <button *ngIf="!subscriptionManager.checkForSubscription()" menuClose ion-item  (click)="openLogin()">
          Login
      </button>
      <button *ngIf="perm.checkUserFeature([userData.TIPO_ANY],[userData.PLAN_ANY])" menuClose ion-item  (click)="openHomePage()">
          Home
      </button>
      <button *ngIf="perm.checkUserFeature([userData.TIPO_ANY],[userData.PLAN_ANY])" menuClose ion-item  (click)="openCitasPage()">
        Citas
    </button>
    <button *ngIf="perm.checkUserFeature([userData.TIPO_ANY],[userData.PLAN_ANY])" menuClose ion-item  (click)="openReportesPage()">
      Reportes
  </button>
    <button *ngIf="perm.checkUserFeature([userData.TIPO_ANY],[userData.PLAN_ANY])" menuClose ion-item  (click)="openReporteAdeudos()">
      Adeudos
  </button>
      <!--<button *ngIf="perm.checkUserFeature([userData.TIPO_DOCTOR],[perm.PLAN_GROUP])" menuClose ion-item  (click)="openGrupoPage()">-->
     
      
      <button *ngIf="perm.checkUserFeature([userData.TIPO_DOCTOR],[userData.PLAN_ANY])" menuClose ion-item  (click)="openServiciosPage()">
          Servicios
      </button>
      <button  *ngIf="perm.checkUserFeature([userData.TIPO_DOCTOR],[userData.PLAN_ANY])" menuClose ion-item  (click)="openUsuariosPage()">
          Usuarios
      </button>
      <button *ngIf="perm.checkUserFeature([userData.TIPO_DOCTOR],[perm.PLAN_GROUP],false)" menuClose ion-item  (click)="openGrupoPage()">
          Suscriptores
    </button>
      <button *ngIf="subscriptionManager.checkForSubscription()" menuClose ion-item  (click)="openRegister()">
          Mis datos
      </button>
   
      <button *ngIf="perm.checkUserFeature([userData.TIPO_DOCTOR])" menuClose ion-item  (click)="openMiplan()">
        Mi plan
    </button>
      <!--<button *ngIf="tutorial.tutorialReplayAvailability()"  (click)="tutorial.openTutorialCanClose()" menuClose ion-item>
          Tutorial
        </button>-->
           
      <button   menuClose ion-item  (click)="openterminos()">
        Términos y condiciones
    </button>
    <button   menuClose ion-item  (click)="openAviso()">
        Aviso de Privacidad
    </button>
    <button   menuClose ion-item  (click)="openFaq()">
        F.A.Q.
    </button>
      <button *ngIf="perm.checkUserFeature([userData.PLAN_ANY])" menuClose ion-item  (click)="logout()">
        <span class="fontPrimary">Salir</span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>