<!-- Generated template for the HeaderComponent component -->

  <!--<ion-header >
    <ion-navbar color="primary">
      <ion-title (click)="goHome()" ><img src="assets/imgs/logo-blanco.svg" class="header_logo_drap"/></ion-title>
      <ion-buttons right class="menu_buttons" *ngIf="this.userData.checkUserFeature([this.userData.TIPO_ANY],[this.userData.PLAN_ANY],false);">
      <button ion-button>Alertas <span>10</span></button>
      <button ion-button>{{this.userData.userData.name}} <img src="assets/imgs/flecha-blanca.svg" class="header_flecha_blanca" /></button>
      <button ion-button class="header_showdate">{{this.userData.showhour}}</button>
      </ion-buttons>
      <button ion-button end menuToggle >
            <img src="assets/imgs/menu.svg" class="header_menu_drap" />
      </button>
    </ion-navbar>
  </ion-header>-->

  <ion-header >
    <div class="drap_global_header">
        <img  (click)="goHome()"  src="assets/imgs/logo-blanco.svg" class="header_logo_drap"/>
        <div class="menu_buttons">
          <div class="header_span header_span_name" (click)="openNotifications()">{{this.userData.userData.name}}
            <div class="pop_body" *ngIf="this.showNotifications" outside-click="closeNotifications()">
              <div *ngFor="let notification of this.userData.notificaciones" class="notification_item"  (click)="notificationClick(notification)">
                  <span class="notification_title">{{notification.title}}</span>{{notification.subtitle}}
              </div>
        </div>
          </div>
          <div class="header_span header_showdate">{{this.userData.showhour}}</div>
          <div menuToggle><img src="assets/imgs/menu.svg" class="header_menu_drap" /></div>
        </div>
        </div>
    </ion-header>
  

