header {
    .header_logo_drap{
        max-width: 150px;
        height: 30px;
        margin-left: 20px;
    }

    .header_menu_drap{
       height: 30px;
    }

    .header_flecha_blanca{
        max-width: 10px;
        max-height: 10px;
    }

    .menu_buttons{
        padding-right: 30px;
        display: inline-flex;
        width: -webkit-fill-available;
        justify-content: flex-end;
        color: white;
        font-size: 2rem;
    }

    .menu_buttons div{
        display: inline-block;
        padding: 10px;
    }

    .header_showdate{
        color:white;
    }

    .drap_global_header{
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    .header_span_name{
        position: relative;
        cursor: pointer;
    }

   

    @media screen and (max-width: 450px){
        .header_logo_drap{
            max-width: 50px;
            margin-left: 20px;
        }

        .header_menu_drap{
            height: 18px;
         }

         .menu_buttons{
             font-size: 1.5rem;
         }

         .header_span_name{
            max-width: 140px;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis; 
         }
    }
}
