header {
    .header_logo_drap{
        max-width: 150px;
        height: 30px;
        margin-left: 20px;
    }

    .header_menu_drap{
       height: 30px;
    }

    .header_flecha_blanca{
        max-width: 10px;
        max-height: 10px;
    }

    .menu_buttons{
        padding-right: 30px;
        display: inline-flex;
        width: -webkit-fill-available;
        justify-content: flex-end;
        color: white;
        font-size: 2rem;
    }

    .menu_buttons div{
        display: inline-block;
        padding: 10px;
    }

    .header_showdate{
        color:white;
    }

    .drap_global_header{
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    .header_span_name{
        position: relative;
    }

    .pop_body{
        /*display:none !important;*/
        padding: 0 !important;
        position: absolute;
        min-height: 20px;
        width: 400px;
        background: white;
        top: 60px;
        left: -200px;
        color: #4D4D4D;
        font-size:1.5rem;
        -webkit-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.45);
        -moz-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.45);
        box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.45);
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 0px solid #4D4D4D;
    }

    .pop_body .notification_item{
        display: flex;
        justify-content:flex-start;
        align-items: baseline;
        border-bottom: 1px solid lightgray;
        padding: 20px;
        cursor: pointer;
    }

    .pop_body .notification_item:hover{
       background-color: lightgray;
    }

    .pop_body .notification_item:last-child{
        border-bottom:none !important;
    }

    .notification_title{
        font-size:1.8rem;
        margin-right: 10px;
    }

    @media screen and (max-width: 450px){
        .header_logo_drap{
            max-width: 50px;
            margin-left: 20px;
        }

        .header_menu_drap{
            height: 18px;
         }

         .menu_buttons{
             font-size: 1.5rem;
         }

         .header_span_name{
            max-width: 140px;
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis; 
         }
    }
}
