header {
    .header_logo_drap{
        max-width: 150px;
        margin-left: 20px;
    }

    .header_menu_drap{
        max-width: 30px;
        max-height: 30px;
        margin-right: 20px;
    }

    .header_flecha_blanca{
        max-width: 10px;
        max-height: 10px;
    }

    .menu_buttons{
        padding-right: 30px;
    }

    .header_showdate{
        color:white;
    }

    @media screen and (max-width: 450px){
        .header_logo_drap{
            max-width: 50px;
            margin-left: 20px;
        }
    }
}
