<!--
  Generated template for the NuevoservicioModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>

    <div class="modal_closer" (click)="this.dismiss();">Volver</div>
    
    <div class="modalPage_header" *ngIf="!this.tutorial.checkTutorialState()">
        <div class="modalPage_logo"><img src="assets/imgs/servicios.svg"/></div>
        <div class="modalPage_title">
          <span class="spanBlock largeFont" *ngIf="this.isnew"><b>Nuevo Servicio {{grouplabel}}</b></span>
          <span class="spanBlock largeFont" *ngIf="!this.isnew">-<b>editando {{this.newService.title}}</b></span>
        </div>
    </div>

    <div class="modalPage_header justify_center" *ngIf="this.tutorial.checkTutorialState()" >
        <div class="modalPage_logo"><img src="assets/imgs/servicios.svg"/></div>
        <span class=" largeFont" *ngIf="this.isnew"><b>Alta de servicio y costos</b></span>
        <div class="modalPage_title">
          <span class="spanBlock midSubFont">Te recomendamos dar de alta desde el inicio todos los servicios que ofreces para que cobrar
            tu consulta sea muy rápido y sencillo. Solo debes ingresar uno a uno el nombre y costo de
            cada servicio.</span>
        </div>
    </div>
    <!--<div class="centered_bold" *ngIf="this.tutorial.checkTutorialState() && newTutService">Para comenzar agrega un servicio:</div>-->
    <div class="nuevoservicio_content modalContent" *ngIf="!this.tutorial.checkTutorialState()  || (this.tutorial.checkTutorialState() && !this.tutorial.serviceCreated)" >
        <div class="ModalInput_input">
            <b>Nombre</b>
            <input [(ngModel)]="this.newService.title" type="text"/>
        </div>
        <div class="ModalInput_input">
            <b>Costo</b>
            <input [(ngModel)]="this.newService.field_costo_servicio.und[0].value" type="number"/>
        </div>
    </div>

    <div class="nuevoservicio_content modalContent" style="text-align: center;" *ngIf="this.tutorial.checkTutorialState() && this.tutorial.serviceCreated" >
        <span class="spanBlock bigBoldFont">¡Felicidades!</span>
        <span class="spanBlock midMainFont"> El servicio {{this.newService.title}} ha sido agregado ahora lo podrás seleccionar cada vez que mandes cobrar una consulta.</span>
        <span class="spanBlock midSubFont"> Siempre que lo desees puedes modificar o agregar más servicios en la sección de Alta de
            Servicios y Costos en el Menú.</span>
        </div>
        

    <div class="midAlign">
        <div class="register_button_section">
                <button class="bgColorSecondary generalButton tutorialButton" *ngIf="this.tutorial.checkTutorialState() && this.tutorial.serviceCreated" (click)="resetServicio();">Agregar servicio</button>
        <button class="bgColorSecondary generalButton tutorialButton" *ngIf="this.tutorial.checkTutorialState() && !this.tutorial.serviceCreated" (click)="createServiceTutorial();">Continuar</button>
        <button class="bgColorSecondary generalButton tutorialButton" *ngIf="this.tutorial.checkTutorialState() && this.tutorial.serviceCreated" (click)=" this.tutorial.showUsuarioModal(); this.dismiss();">Continuar</button>
        <button class="bgColorSecondary generalButton" *ngIf="!this.tutorial.checkTutorialState() && this.isnew" (click)="createService()">Agregar</button>
        <button class="bgColorSecondary generalButton" *ngIf="!this.tutorial.checkTutorialState() && !this.isnew" (click)="updateService()">Actualizar</button>
        </div>
      </div>
</ion-content>
