page-miplan {
    ion-content{
        margin-top: 70px;
        padding: 0;
    }

    .grupos_medicos_code{
        display: block;
        border-bottom: 2px solid #B8B8B8;
        padding: 25px;
        width: 100%;
        text-align: center;
        cursor: pointer;
    }

  
    .modalPage_header {
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    }

    .plans_block{
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    .bulleting{
        font-weight: 900;
    }

    .info_plan_title{
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    padding: 0 40px;
    background: #F6F6F6;
    font-size: x-large;
    }
    
    .control_indicator{
        position: absolute;
    height: 30px;
    width: 30px;
    left: 35px;
    top: -10px;
    background: #e6e6e6;
    border: 0px solid #000000;
    }

    .subtotal_pago {
        border-bottom: 2px solid #B8B8B8;
        border-top: 2px solid #B8B8B8;
        padding: 15px 120px;
        text-align: right;
    }

    .bisectional {
        display: flex;
        flex: 1 1;
        flex-flow: row;
        justify-content: space-between;
        padding: 0px 193px;
        margin: 32px 0px;
    }

    .bisectional_section {
        width: 45%;
        padding: 15px;
    }

    .bisectional_section .spanBlock{
        margin: 5px;
    }

    .button_section {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 100px;
        justify-content: flex-end;
        padding: 10px 85px;
    }

    .plans_extras_section input {
        background: #d3d3d34d;
        border: none;
        text-align: center;
        padding: 10px;
        font-size: larger;
        border-radius: 5px;
    }

    .plans_extras_section .operator {
        margin: 10px;
        font-size: 3em;
        color: #C1272D;
        cursor: pointer;
    }

    .informacion_pagos ion-label {
        color: #7d7d7d;
    }

   
    .informacion_pagos ion-input {
        border-bottom: 1px solid lightgray;
    width: 100%;
    padding-bottom: 0;
    transition: .5s;
    }

    .informacion_pagos ion-input:hover, .informacion_pagos ion-input:focus, .informacion_pagos ion-input:active {
        background-color: #d3d3d34d;
    }

    .informacion_pagos .text-input-md {
        margin: 0;
        padding: .5em;
      
    }

    .informacion_pagos ion-select {
        width: 100%;
    background-color: #d3d3d34d;
    text-align: center;
    padding: .5em;
    border-radius: 3px;
    }

    .informacion_pagos .col {
        margin-bottom: 1em;
    }

    .metodos_pago .button-md {
        width: 35%;
        margin: 1em auto;
        box-shadow: none;
        border-radius: 10px;
        padding: 1.5em 0;
    }

    .neuvo_metodo_pago h3 {
        font-size: 1.5rem;
        text-align: left;
        margin-top: 1em;
        color: #7d7d7d;
    }

     .select input {
        max-width: none !important;
    }

    @media screen and (max-width: 1510px){
        .bisectional{
            padding: 0px 4%;
        }

        .metodos_pago .button-md {
            width: 50%;
        }

    }

    @media screen and (max-width: 1200px){
        .bisectional {
            display: block;
            padding: 1em;
            margin: 1em;
        }
       .bisectional_section {
            width: 80%;
            padding: 5px;
            margin: 0 auto;
            text-align: center;
        }

        .neuvo_metodo_pago {
            border-top:1px solid lightgray;
            margin-top:1em;
        }
    
    }

    @media screen and (max-width: 1030px){

       .plan_section {
        grid-template-columns: 1fr;
        width: 80%;
        min-width: auto;
        text-align: center;
        grid-row-gap: 10px;     
        }

        .plan_section .largeFont {
            font-size: 2rem;
        }

        .control {
            margin-bottom: 0px;
            font-size: 25px;
        }

        .control input {
            position: initial;
            z-index: -1;
            opacity: 0;
        }

        .control_indicator {
            position: absolute;        
            left: 50%;
            top: 0%;
        }

    }

    @media screen and (max-width: 800px){
        .generalButton {
            margin-top:1em;
            font-size: 1.8rem;
        }

        .bisectional {padding: 0;}

       
    }

    @media screen and (max-width: 500px){
        .metodos_pago .button-md {
            width: 80%;
        }

        .subtotal_pago {
            padding: 2em;
        }

        .button_section {
            padding: 1em;
        }

    }

    .fact_src_unit {
        width: 100%;
        /*height: 50px;*/
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 1.5rem;
        background-color: #F6F6F6;
        padding: 1em;
        padding-left: 1.5em;
        cursor: pointer;
        margin:0;
        border-radius: .5em;
        color: #7d7d7d;
    }
    .cont-buttons-srcs button{
        margin:  0;
    }
    .cont-buttons-srcs ion-icon[name="star"]{
        color: #6DB5DE;
    }
    .fact_src_unit ion-row{
        width: 100%;
    }
    .fact_src_unit ion-col{
        margin: 0 !important;
    }
    .fact_src_unit ion-col:first-child{
        font-size: 1rem;
    }
    .selectedsrc{
        background: linear-gradient(to right, #03a9f4a8, #94b71b);
        color: white;
    }
}
