<header></header>
<ion-content padding>
  <div class="modalPage_header">
    <div class="modalPage_title">
      <span class="spanBlock midFont"><b>Mi Plan</b></span>
      <span class="spanBlock midSubFont">actualiza, cambia o cancela tu plan</span>
    </div>
    <div class="modalPage_lpane" *ngIf="!onplanchange && subsData.subscription">
      <span class="spanBlock midFont">Total de tu suscripción mensual: <span class="fontPrimary bold">${{subsData.subscription.field_cantidad}}</span> </span>
      <span class="spanBlock midSubFont"> vence al {{subsData.subscription.field_next_cobro}}</span>
    </div>
    </div>
    <!-- Seccion con informacion de planes  -->

    <div class="plans_block" *ngIf="onplanchange"> <!-- Seleccion de plan cuando onplanchange  -->
      <span class="blockSpan info_plan_title" >Seleciciona un Plan </span>

      <div class="plan_section"  *ngFor="let plan of this.planesData.planes" >
        <div class="plan_section_hr">  <!-- Plan selection check start -->
            <div class="control-group"> 
                <label class="control control-radio">
                    <!--<input type="radio" name="rtype" value=""  [(ngModel)]="this.reportPresentator.type" checked="true"/>-->
                    <input type="radio" name="selectedPlan" value="{{plan.nid}}" [(ngModel)]="this.selectedPlan"/>
                    <div class="control_indicator"></div>
                </label> 
                </div>  
        </div> <!-- Plan selection check end -->
        <div class="plan_section_hr">  <span class="spanBlock bigSubFont">Plan <span class="fontPrimary bold"> {{plan.title}} </span></span> <span class="spanBlock"> <span class="midSubFont">costo base:</span> <span class="largeFont">${{plan.field_costo}}</span></span> </div>
        <div class="plan_section_hr"> <span class="spanBlock midFont">caracteristicas</span>  <span class="spanBlock midSubFont">{{plan.field_descripcion}}</span> </div>
      </div><!-- fin de plans section -->

     

    </div><!-- fin de plans block en onplanchange-->

    <div class="plans_block" *ngIf="!onplanchange && subsData.subscription"> <!-- Informacion de plan cuando no en onplanchange  -->
      <span class="blockSpan info_plan_title" >Informacion de tu Plan</span>

      <div class="plan_section">
        <div class="plan_section_hr">  <!-- Plan selection check start -->
            <div class="control-group"> 
                <label class="control control-radio">
                    <!--<input type="radio" name="rtype" value=""  [(ngModel)]="this.reportPresentator.type" checked="true"/>-->
                    <input type="radio" name="rtype" value="" checked="true" />
                    <div class="control_indicator"></div>
                </label> 
                </div>  
        </div> <!-- Plan selection check end -->
        <div class="plan_section_hr">  <span class="spanBlock bigSubFont">Plan <span class="fontPrimary bold"> {{subsData.subscription.plan.title}} </span></span> <span class="spanBlock"> <span class="midSubFont">costo base:</span> <span class="largeFont">${{subsData.subscription.plan.field_costo}}</span></span> </div>
        <div class="plan_section_hr"> <span class="spanBlock midFont">caracteristicas</span>  <span class="spanBlock midSubFont">{{subsData.subscription.plan.field_descripcion}}</span> </div>
      </div><!-- fin de plans section -->

     

    </div><!-- fin de plans block cuando no onplanchange-->
  <!-- fin de Seccion con informacion de planes  -->


    <div class="plans_extras bisectional">
      <div class="plans_extras_section bisectional_section right_align">
        <span class="spanBlock midFont" *ngIf="onplanchange">¿Deseas agregar mas subusuarios a tu plan?</span> 
        <p class="midSubFont"> Los subusuarios adicionales a tu plan tienen un costo de $40.00 y se agregan al pago de tu suscripción mensual</p>
      </div>

      <div class="plans_extras_section bisectional_section center_align" *ngIf="onplanchange"> <!-- Usuarios adicionales onplanchange-->
        <span class="spanBlock" > 
          <span class="operator" (click)="operateExtra(-1)" >-</span><input type="number" [(ngModel)]="this.selectedAditionals"/><span class="operator" (click)="operateExtra(1)">+</span>
        </span>
        <span class="spanBlock midSubFont"> actualmente cuentas con <span class="fontPrimary">{{this.subsData.subscription.field_adicionales}} adicionales</span></span>
        <span class="spanBlock midSubFont"> añadir <span class="fontPrimary">{{this.selectedAditionals}} adicionales</span> por <span class="fontPrimary">${{this.selectedAditionals*40}}</span></span>
        <span class="spanBlock midFont"> Total de subusuarios:  <span class="fontPrimary">${{(this.selectedAditionals*40) + (this.subsData.subscription.field_adicionales*40)}}.00</span></span>
      </div> <!-- fin de usuarios adicionales onplanchange-->

      <div class="plans_extras_section bisectional_section center_align" *ngIf="!onplanchange && this.subsData.subscription"> <!-- Usuarios adicionales  cuando no onplanchange-->
        <span class="spanBlock midSubFont"> actualmente cuentas con <span class="fontPrimary">{{this.subsData.subscription.field_adicionales}} adicionales</span> </span>
        <span class="spanBlock midFont"> Total extra de subusuarios:  <span class="fontPrimary">${{this.subsData.subscription.field_adicionales*40}}.00</span></span>
      </div> <!-- fin de usuarios adicionales cuando no  onplanchange-->

    </div><!-- fin de plans extras -->
    <div class="informacion_pagos">
      <span class="spanBlock info_plan_title">metodos de pago</span>
      <div class="bisectional pagos_block">
         <div class="bisectional_section metodos_pago"> metodos aqui </div>
         <div class="bisectional_section neuvo_metodo_pago"> insert aqui </div>
      </div>
      <div class="subtotal_pago">
        <span class="spanBlock midFont" *ngIf="this.onplanchange"> Total de suscripción mensual: <span class="fontPrimary">${{selectedTotal}}.00</span></span>
        <span class="spanBlock midFont" *ngIf="!this.onplanchange"> Total de suscripción mensual: <span class="fontPrimary">${{this.subsData.subscription.costo}}.00</span></span>
        <p class="midSubFont" *ngIf="this.onplanchange"> Cualquier cambio en el monto total de tu suscripcion se vera reflejado en tu proxima mensualidad al ${{this.subsData.subscription.field_next_cobro}}</p>
      </div> guardar 
      <div class="button_section"> 
        <button class="generalButton bgColorPrimary " *ngIf="onplanchange" (click)="guardar()" >Guardar</button>
        <button class="generalButton bgColorPrimary " *ngIf="!onplanchange" (click)="editar()" >Editar</button>
        <button class="generalButton bgColorPrimary " *ngIf="onplanchange" (click)="cancelar()" >Cancelar</button>
      </div>
    </div>
</ion-content>
