page-progresocita-modal {
   .progreso_service{
       text-align: left;
       font-size: 2rem;
       margin:10px;
       margin-top: 20px;
   }


   .progreso_service b{
       margin-right: 20px;
   }
}
