<!--
  Generated template for the ProgresocitaModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
        <div class="modal_closer" (click)="this.close();">Volver</div>
    <div class="modalPage_header">
        <div class="modalPage_logo"><img src="assets/imgs/citas.svg"/></div>
        <div class="modalPage_title">
          <span class="spanBlock midFont"><b>Progreso de la Cita</b></span>
        </div>
        <div class="dateright floatRight">
           <span class="spanBlock"><span class=" fontSecondary midFont">{{progressController.activeCita.getDisplayableDates().date}}</span><span class="fontHigh midFont">{{progressController.activeCita.getDisplayableDates().time}}</span></span>
          </div>
      </div>
      <div class="CitaDetail_Content">
        <div class="CitaDetail_header">
            <table class="results_table">
                <thead>
                    <tr>
                        <!--<th>no</th>-->
                        <th>Paciente</th>
                        <th *ngIf="!(permissions.checkUserPermission([userData.TIPO_DOCTOR]))">Doctor</th>
                        <th> Tiempo Transcurrido:  <span class="fontHigh midFont">{{progressController.activeCita.duracionText }} </span></th>
                     </tr>
                </thead>
                <tbody>
                    <tr>
                        <!--<td>01</td>-->
                        <td>{{progressController.activeCita.data.field_paciente.und[0].value}}</td>
                        <td *ngIf="!(permissions.checkUserPermission([userData.TIPO_DOCTOR]))">{{progressController.activeCita.data.doctor_name}}</td>
                        <td> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="CitaDetailSections">
          <div class="CitaDetailSection borderRight">
            <b class="midFont">Servicios</b>
            <div class="CitaDetail_services" *ngIf="progressController.activeCita.checkState(citasData.STATE_ACTIVA)">
                <div class="progreso_service" *ngFor="let added of progressController.activeCita.addedServices">
                <!--<b>{{added.Nid}}</b>-->
                {{added.title}} - <span class="fontSecondary">${{added.costo}}</span> <span (click)="progressController.removeService(added);" class="removeServicebtn" >x</span>
              </div>
              </div>
            
              <div class="CitaDetail_services" *ngIf="!progressController.activeCita.checkState(userData.STATE_ACTIVA)">
                    <div class="progreso_service" *ngFor="let added of progressController.activeCita.reporteServicios">
                    <!--<b>{{added.Nid}}</b>-->
                    {{added.title}} - <span class="fontSecondary">${{added.costo}}</span> 
                  </div>
                  </div>
                  <div class="CitaDetail_services" *ngIf="progressController.activeCita.checkState(citasData.STATE_ACTIVA) && permissions.checkUserPermission([userData.TIPO_DOCTOR])">
                    <div class="registerInput">
                      <select [(ngModel)]="progressController.selectedService"  name="selectedService" class="input_select input" >
                          <option selected disabled value="0">Select</option>
                          <option *ngFor="let service of progressController.available_services" value="{{service.Nid}}">{{service.title}}</option>
                        </select>
                      </div>
                      <div class="midAlign">
                            <div class="register_button_section">
                            <button (click)="progressController.addService()"  class="bgColorSecondary generalButton">Agregar</button>
                            </div>
                          </div>
                  </div>

            </div>
            <div class="CitaDetailSection midFont">
              <b>Costo de la Cita</b>
              <span *ngIf="progressController.activeCita.checkState(this.citasData.STATE_ACTIVA)" class="floatRight"><span class="fontSecondary">${{progressController.costoCita}}</span> <ion-icon name="menu"></ion-icon> </span>
              <span *ngIf="progressController.activeCita.checkState(this.citasData.STATE_COBRO) || progressController.activeCita.checkState(this.citasData.STATE_FINALIZADA)" class="floatRight"><span class="fontSecondary">${{progressController.activeCita.costo}}</span> <ion-icon name="menu"></ion-icon> </span>
              costo
              <div *ngIf="(progressController.activeCita.checkState(citasData.STATE_COBRO) && permissions.checkUserPermission([userData.TIPO_DOCTOR, userData.TIPO_CAJA,  userData.TIPO_CAJAYRECEPCION])) || (progressController.activeCita.checkState(this.citasData.STATE_FINALIZADA) && permissions.checkUserPermission([userData.TIPO_DOCTOR]))">
              <b>Formas de Pago</b>
              <div class="ModalInput_input">
                    Efectivo
                    <input [(ngModel)]="progressController.cobroEfectivo" type="text"/>
                </div>
                <div class="ModalInput_input">
                    Tarjeta
                    <input [(ngModel)]="progressController.cobroTarjeta" type="text"/>
                </div>
                <div class="ModalInput_input"> 
                    Cheque
                    <input [(ngModel)]="progressController.cobroCheque" type="text"/>
                </div>
                <span *ngIf="progressController.CantidadRestante > 0" class="spanBlock midAlign fontPrimary">
                    Faltan ${{progressController.CantidadRestante}}
                </span>
                <span *ngIf="progressController.CantidadRestante < 0" class="spanBlock midAlign fontHigh">
                        Sobrar ${{(progressController.CantidadRestante * -1)}}
                    </span>
                    <hr>
                    <div class="ModalInput_input" >
                        <b>¿Requiere Factura?</b>
                        <select [(ngModel)]="progressController.factura"  name="field_cita_doctor" class="input_select input">
                            <option  value="1" >Si</option>
                            <option  selected value="0" >No</option>
                          </select>
                    </div>
                    <div class="ModalInput_input" *ngIf="progressController.factura"> 
                        Monto de la factura
                        <input [(ngModel)]="progressController.factura_cantidad" type="text"/>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="midAlign">
            <div class="register_button_section">
            <button  *ngIf="progressController.activeCita.checkState(citasData.STATE_ACTIVA)"  (click)="finalizarPop()" class="bgColorPrimary generalButton">Finalizar Cita</button>
            <button  *ngIf="progressController.activeCita.checkState(citasData.STATE_COBRO)" (click)="pagadaPop()" class="bgColorPrimary generalButton">Pagar</button>
            <button  *ngIf="progressController.activeCita.checkState(citasData.STATE_FINALIZADA)" (click)="pagadaPop()" class="bgColorPrimary generalButton">Guardar</button>
            </div>
          </div>
      </div>
</ion-content>
