page-progresocita-modal {
   .progreso_service{
       text-align: left;
       font-size: 2rem;
       margin:10px;
       margin-top: 20px;
   }

   .progress_input {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

   .progreso_service b{
       margin-right: 20px;
   }

   .removeServicebtn{
       float: right;
   }

   .pagos_anteriores {
    font-size: 0.7em;
    display: flex;
    flex-flow: column;
    margin-top: 15px;
    }

    .pagodetail span {
        margin-left: 20px;
    }

    .pagos_anteriores .pagodetail{
        margin: 1px;
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        padding-right: 19px;
    }

    .cortesia_checkbox{
       font-weight:500;
    }

    .input_left_emulate{
        text-align: left;
        font-weight: 900;
    }

    .progress_input input{
        border: 1px solid lightgray;
        display: inline;
        font-family: inherit;
        font-size: inherit;
        width: auto;
        color: #6DB5DE;
        padding: 1rem;
        margin: 1rem 0;
        border-radius: 1rem;
        background-color: #f6f6f6;
    }


    .serviceTimes{
        width: 50px;
    }
}
