<!--
  Generated template for the ServiciosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<header></header>
<ion-content padding class="drap_content">
  <div class="modalPage_header">
    <div class="modalPage_logo"><img src="assets/imgs/servicios.svg"/></div>
    <div class="modalPage_title">
      <span class="spanBlock midFont"><b>Alta de Servicios y Costos</b></span>
      <span class="spanBlock midSubFont">Administra, agrega o elimina los servicios que ofreces en tu consultorio. </span>
    </div>
    <div class="modalPage_btn_wrapper">
      <button class="bgColorSecondary generalButton" (click)="openNuevoservicio()">Agregar Nuevo</button>
      
     
    </div>
  </div>
  <div class="Citas_grid result_wrapper">
    <table class="results_table">
        <thead>
            <tr>
                <th>Servicio</th>
                <th>Costo</th>
                <th>  </th>
             </tr>
        </thead>
        <tbody *ngIf="this.showMis">
            <tr *ngFor="let servicio of this.servicioMan.servicios">
                <td>{{servicio.title}}</td>
                <td class="fontSecondary">{{moneyFormat(servicio.costo)}}</td>
                <td class="toolCol">
                  <img src="assets/imgs/editar.svg" class="icon_drapo" (click)="editServicio(servicio)"/>
                  <button class="bgColorPrimary generalButton tableButton" (click)="deleteServicio(servicio)">Eliminar</button>
                </td>
             </tr>
        </tbody>
    </table>
  </div>



<footer></footer>
</ion-content>